<form class="nodeshop-cart-form" data-drupal-selector="nodeshop-cart-form" action="" method="post" id="nodeshop-cart-form" accept-charset="UTF-8">
  <div class="nodeshop_cart_header">
    Dies ist der optionale Text über dem Warenkorb
</div>
<div class="tableresponsive-toggle-columns"><button type="button" class="link tableresponsive-toggle" title="Zeige die Tabellenzellen, die ausgeblendet wurden, um die Tabelle auf kleinen Bildschirmen anzeigen zu können." style="display: none;">Niedrig priorisierte Spalten verstecken.</button></div><table data-drupal-selector="edit-cart-fields" id="edit-cart-fields" class="responsive-enabled" data-striping="1">
  
  
      <thead>
      <tr>
                            <th class="product">Product</th>
                            <th class="description">Beschreibung</th>
                            <th class="price">Price</th>
                            <th class="quantity">Quantity</th>
                            <th class="price">Subtotal</th>
              </tr>
    </thead>
  
      <tbody>
                      <tr data-drupal-selector="edit-cart-fields-0" class="odd">
                      <td><img data-drupal-selector="edit-cart-fields-0-product" src="https://picsum.photos/300/169/?image=883" alt="" typeof="foaf:Image">
</td>
                      <td><article data-drupal-selector="edit-cart-fields-0-description" data-history-node-id="27102" role="article" about="/ausgabe/2016/februar/sanders-gegen-clinton-trump-gegen-alle">

  
      <h2>
      <a href="/ausgabe/2016/februar/sanders-gegen-clinton-trump-gegen-alle" rel="bookmark"><span class="field field--name-title field--type-string field--label-hidden">Sanders gegen Clinton, Trump gegen alle</span>
</a>
    </h2>
    

  
  <div>
    
  </div>

</article>
</td>
                      <td><span class="nodeshop_price">
     1,00&nbsp;€ 
</span>
</td>
                      <td><div class="js-form-item form-item js-form-type-number form-type-number js-form-item-cart-fields-0-quantity form-item-cart-fields-0-quantity form-no-label">
        <input data-drupal-selector="edit-cart-fields-0-quantity" type="number" id="edit-cart-fields-0-quantity" name="cart_fields[0][quantity]" value="1" step="1" size="2" class="form-number">

        </div>
</td>
                      <td><span class="nodeshop_price">
     1,00&nbsp;€ 
</span>
</td>
                  </tr>
                      <tr data-drupal-selector="edit-cart-fields-1" class="even">
                      <td><img data-drupal-selector="edit-cart-fields-1-product" src="https://picsum.photos/300/169/?image=884" alt="" typeof="foaf:Image">
</td>
                      <td><article data-drupal-selector="edit-cart-fields-1-description" data-history-node-id="28600" role="article" about="/ausgabe/2018/oktober/21-fur-spahn">

  
      <h2>
      <a href="/ausgabe/2018/oktober/21-fur-spahn" rel="bookmark"><span class="field field--name-title field--type-string field--label-hidden">2:1 fur Spahn</span>
</a>
    </h2>
    

  
  <div>
    
  </div>

</article>
</td>
                      <td><span class="nodeshop_price">
     1,00&nbsp;€ 
</span>
</td>
                      <td><div class="js-form-item form-item js-form-type-number form-type-number js-form-item-cart-fields-1-quantity form-item-cart-fields-1-quantity form-no-label">
        <input data-drupal-selector="edit-cart-fields-1-quantity" type="number" id="edit-cart-fields-1-quantity" name="cart_fields[1][quantity]" value="1" step="1" size="2" class="form-number">

        </div>
</td>
                      <td><span class="nodeshop_price">
     1,00&nbsp;€ 
</span>
</td>
                  </tr>
                      <tr data-drupal-selector="edit-cart-fields-2" class="odd">
                      <td><img data-drupal-selector="edit-cart-fields-2-product" src="https://picsum.photos/300/169/?image=885" alt="" typeof="foaf:Image">
</td>
                      <td><article data-drupal-selector="edit-cart-fields-2-description" data-history-node-id="28595" role="article" about="/ausgabe/2018/oktober/die-grosse-entzauberung">

  
      <h2>
      <a href="/ausgabe/2018/oktober/die-grosse-entzauberung" rel="bookmark"><span class="field field--name-title field--type-string field--label-hidden">Die große Entzauberung</span>
</a>
    </h2>
    

  
  <div>
    
  </div>

</article>
</td>
                      <td><span class="nodeshop_price">
     2,00&nbsp;€ 
</span>
</td>
                      <td><div class="js-form-item form-item js-form-type-number form-type-number js-form-item-cart-fields-2-quantity form-item-cart-fields-2-quantity form-no-label">
        <input data-drupal-selector="edit-cart-fields-2-quantity" type="number" id="edit-cart-fields-2-quantity" name="cart_fields[2][quantity]" value="1" step="1" size="2" class="form-number">

        </div>
</td>
                      <td><span class="nodeshop_price">
     2,00&nbsp;€ 
</span>
</td>
                  </tr>
                      <tr data-drupal-selector="edit-cart-fields-3" class="even">
                      <td colspan="3"></td>
                      <td>Subtotal:</td>
                      <td class="nodeshop_price"><span class="nodeshop_price">
     4,00&nbsp;€ 
</span>
</td>
                  </tr>
                      <tr data-drupal-selector="edit-cart-fields-4" class="odd">
                      <td colspan="3"></td>
                      <td>Delivery:</td>
                      <td class="nodeshop_price"><span class="nodeshop_price">
     0,00&nbsp;€ 
</span>
</td>
                  </tr>
                      <tr data-drupal-selector="edit-cart-fields-discounts-and-vouchers" class="even">
                      <td colspan="5"><div colspan="5" class="js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-cart-fields-discounts-and-vouchers-voucher-code form-item-cart-fields-discounts-and-vouchers-voucher-code">
      <label for="edit-cart-fields-discounts-and-vouchers-voucher-code">Voucher</label>
        <input data-drupal-selector="edit-cart-fields-discounts-and-vouchers-voucher-code" aria-describedby="edit-cart-fields-discounts-and-vouchers-voucher-code--description" type="text" id="edit-cart-fields-discounts-and-vouchers-voucher-code" name="cart_fields[discounts_and_vouchers][voucher_code]" size="16" maxlength="128" placeholder="voucher code" class="form-text">

            <div id="edit-cart-fields-discounts-and-vouchers-voucher-code--description" class="description">
      Enter a voucher code to get a discount.
    </div>
  </div>
</td>
                  </tr>
          </tbody>
        <tfoot>
              <tr>
                      <td colspan="3"></td>
                      <td class="total-title">Total:</td>
                      <td class="price"><span class="nodeshop_price">
     4,00&nbsp;€ 
</span>
</td>
                  </tr>
              <tr>
                      <td colspan="3"></td>
                      <td colspan="2" class="total-tax"><span class="nodeshop_price">
    Included taxes:  0,28&nbsp;€ 
</span>
</td>
                  </tr>
          </tfoot>
  </table>
<input autocomplete="off" data-drupal-selector="form-mwz-a7pvfoba5zr9-0a1gqoqpdmidqzizr0r2-vrtvw" type="hidden" name="form_build_id" value="form-MWZ-A7PVFoBa5zr9_0a1GqOqpDMiDqZizR0r2-VRTVw">
<input data-drupal-selector="edit-nodeshop-cart-form-form-token" type="hidden" name="form_token" value="rXBoAbwNy2wtQrfJo20w8jyd3cl2E6vheTtCQEBoNrw">
<input data-drupal-selector="edit-nodeshop-cart-form" type="hidden" name="form_id" value="nodeshop_cart_form">
<div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper" id="edit-actions"><input data-drupal-selector="edit-update" type="submit" id="edit-update" name="update-cart" value="Update cart" class="button js-form-submit form-submit">
<a class="button" href="/warenkorb/bestellen">Checkout</a><div id="paypal-button"><div id="zoid-paypal-button-782c4a061e" class="paypal-button paypal-button-context-iframe paypal-button-label-checkout paypal-button-size-small paypal-button-layout-horizontal" style=""><style>
                    #zoid-paypal-button-782c4a061e {
                        font-size: 0;
                        width: 100%;
                        overflow: hidden;
                    }

                    #zoid-paypal-button-782c4a061e.paypal-button-size-responsive {
                        text-align: center;
                    }

                    #zoid-paypal-button-782c4a061e > .zoid-outlet {
                        display: inline-block;
                        min-width: 75px;
                        max-width: 750px;
                        position: relative;
                    }

                    #zoid-paypal-button-782c4a061e.paypal-button-layout-vertical > .zoid-outlet {
                        min-width: 75px;
                    }

                    #zoid-paypal-button-782c4a061e > .zoid-outlet {
                        width:  150px;
                        height: 38px;
                    }

                     #zoid-paypal-button-782c4a061e.paypal-button-size-responsive > .zoid-outlet {
                        width: 100%;
                    }

                    #zoid-paypal-button-782c4a061e > .zoid-outlet > iframe {
                        min-width: 100%;
                        max-width: 100%;
                        width: 75px;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                    }

                    #zoid-paypal-button-782c4a061e > .zoid-outlet > iframe.zoid-component-frame {
                        z-index: 100;
                    }

                    #zoid-paypal-button-782c4a061e > .zoid-outlet > iframe.zoid-prerender-frame {
                        transition: opacity .2s linear;
                        z-index: 200;
                    }

                    #zoid-paypal-button-782c4a061e > .zoid-outlet > iframe.zoid-visible {
                        opacity: 1;
                    }

                    #zoid-paypal-button-782c4a061e > .zoid-outlet > iframe.zoid-invisible {
                        opacity: 0;
                        pointer-events: none;
                    }
                </style><div class="zoid-outlet" style=""><iframe class="zoid-component-frame zoid-visible" frameborder="0" allowtransparency="true" name="xcomponent__ppbutton__min__pmrhk2leei5cezrtme4dcojxgnsgkirmej2gczzchirhaylzobqwyllcov2hi33oeiwcey3pnvyg63tfnz2faylsmvxhiir2pmrhezlgei5ce5dpoarh2lbcojsw4zdfojigc4tfnz2ceot3ejzgkzrchirhi33qej6syitqojxxa4zchj5se5dzobsseorcojqxoirmej3gc3dvmurdu6zcmvxhmir2ejzwc3temjxxqirmejygc6lnmvxhiir2pmrf6x3upfygkx27ei5cex27mz2w4y3unfxw4x27ej6syitpnzaxk5din5zgs6tfei5hwis7l52hs4dfl5pseorcl5pwm5lomn2gs33ol5pse7jmejxw4rlsojxxeir2pmrf6x3upfygkx27ei5cex27mz2w4y3unfxw4x27ej6syiten5wwc2loei5ce43umftwkltcnrqwk5dumvzc4zdfeiwce43fonzws33ojfcceorcge3wenzwha4dqzbyl5twk6tuovxge6linf4xi3zcfqrge5luorxw4u3fonzws33ojfcceorcme3ggojxmi4diylcl5twk6tuovxge6tinf5gi2jcfqrg2zlumerdu635fqrhg33vojrwkir2ejwwc3tvmfwcelbcobzgkztforrwqtdpm5uw4ir2mzqwy43ffqrgm5lomruw4zzchj5seylmnrxxozleei5fwxjmejsgs43bnrwg653fmqrduwzcozsw43lpejosyitsmvwwk3lcmvzgkzbchjnv2lbcojsw2zlnmjsxeir2pmrf6x3upfygkx27ei5cex27mz2w4y3unfxw4x27ej6x2lbcmnxw23ljoqrduztbnrzwklbcn5xfezlomrsxeir2pmrf6x3upfygkx27ei5cex27mz2w4y3unfxw4x27ej6syitpnzbwc3tdmvwceot3ejpv65dzobsv6xzchirf6x3govxgg5djn5xf6xzcpuwce33oinwgsy3lei5hwis7l52hs4dfl5pseorcl5pwm5lomn2gs33ol5pse7jmejwg6y3bnrsseorcmrsv6rcfeiwce43upfwgkir2pmrgg33mn5zceorcm5xwyzbcfqrhg2dbobsseorcobuwy3bcfqrhg2l2murduittnvqwy3bcfqrgyylcmvwceorcmnugky3ln52xiirmejthk3tenfxgo2ldn5xhgir2mzqwy43fpuwce3dpm5ggk5tfnqrduitxmfzg4irmejqxoyljorig64dvobbhe2lem5sseot3ejpv65dzobsv6xzchirf6x3govxgg5djn5xf6xzcpuwce43vobygyzlnmvxhiir2pmrgozlukbqxs3lfnz2e64dunfxw44zchj5sex27or4xazk7l4rduis7l5thk3tdoruw63s7l4rh2lbcmfsgiudbpfwwk3tuirsxiyljnrzseot3ejpv65dzobsv6xzchirf6x3govxgg5djn5xf6xzcpuwcez3forigc6lnmvxhirdforqws3dtei5hwis7l52hs4dfl5pseorcl5pwm5lomn2gs33ol5pse7l5fqrhizltoqrdu6zcmfrxi2lpnyrduitdnbswg23pov2ce7jmej2wszbchirdoobsmm2gcmbwgfsselbcozsxe43jn5xceorcnvuw4it5puwce2leei5cemjxgbrdonldmzrdmirmejsg63lbnfxceorcnb2hi4dthixs643umftwkltcnrqwk5dumvzc4zdfej6q__" title="ppbutton" scrolling="no" allowpaymentrequest="allowpaymentrequest" src="https://www.sandbox.paypal.com/webapps/hermes/button?env=sandbox&amp;domain=stage.blaetter.de&amp;sessionID=17b76888d8_geztunbyhiyto&amp;buttonSessionID=a6c97b84ab_geztunbzhizdi&amp;funding.disallowed=venmo&amp;locale.x=de_DE&amp;style.color=gold&amp;style.shape=pill&amp;style.size=small&amp;style.label=checkout&amp;style.fundingicons=false&amp;logLevel=warn&amp;uid=782c4a061e&amp;version=min&amp;xcomponent=1" style="background-color: transparent;"></iframe></div></div></div></div>
<div class="nodeshop_cart_footer">
    Dies ist der optionale Text unter dem Warenkorb
</div>

</form>