<form class="user-register-form user-form" data-user-info-from-browser="" data-drupal-selector="user-register-form" action="#" method="post" id="user-register-form" accept-charset="UTF-8" data-drupal-form-fields="edit-mail,edit-name,edit-pass-pass1,edit-pass-pass2,edit-field-abonummer-0-value,edit-field-title,edit-field-first-name-0-value,edit-field-last-name-0-value,edit-field-street-0-value,edit-field-street-addon-0-value,edit-field-zip-0-value,edit-field-city-0-value,edit-field-country-0-value,edit-field-phone-0-value,edit-field-woher-0-value,edit-submit">
  <details class="required-fields field-group-details js-form-wrapper form-wrapper" open="open">    <summary role="button" aria-expanded="true" aria-pressed="true" class="form-required">Nutzerkonto</summary><div class="details-wrapper">
    <div data-drupal-selector="edit-account" id="edit-account" class="js-form-wrapper form-wrapper"><div class="js-form-item form-item js-form-type-email form-type-email js-form-item-mail form-item-mail">
      <label for="edit-mail" class="js-form-required form-required">E-Mail-Adresse</label>
        <input data-drupal-selector="edit-mail" aria-describedby="edit-mail--description" type="email" id="edit-mail" name="mail" value="" size="60" maxlength="254" class="form-email required" required="required" aria-required="true">

            <div id="edit-mail--description" class="description">
      Eine gültige E-Mail-Adresse. Alle E-Mails der Website werden an diese Adresse geschickt. Die Adresse wird nicht veröffentlicht und wird nur verwendet, wenn Sie ein neues Passwort anfordern oder wenn Sie einstellen, bestimmte Informationen oder Benachrichtigungen per E-Mail zu erhalten.
    </div>
  </div>
<div class="js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-name form-item-name">
      <label for="edit-name" class="js-form-required form-required">Username</label>
        <input class="username form-text required" autocorrect="off" autocapitalize="off" spellcheck="false" data-drupal-selector="edit-name" aria-describedby="edit-name--description" type="text" id="edit-name" name="name" value="" size="60" maxlength="60" required="required" aria-required="true">

            <div id="edit-name--description" class="description">
      Einige Sonderzeichen sind erlaubt, z. B. Leerzeichen, Punkt (.), Bindestrich (-), Apostroph ('), Unterstrich(_) und das @ Zeichen.
    </div>
  </div>
<div id="edit-pass" class="js-form-item form-item js-form-type-password-confirm form-type-password-confirm js-form-item-pass form-item-pass form-no-label">
        <div class="js-form-item form-item js-form-type-password form-type-password js-form-item-pass-pass1 form-item-pass-pass1 password-parent">
      <label for="edit-pass-pass1" class="js-form-required form-required">Passwort</label>
        <input class="password-field js-password-field form-text required" data-drupal-selector="edit-pass-pass1" type="password" id="edit-pass-pass1" name="pass[pass1]" size="25" maxlength="128" required="required" aria-required="true">

        <div class="password-strength"><div class="password-strength__meter"><div class="password-strength__indicator js-password-strength__indicator"></div></div><div aria-live="polite" aria-atomic="true" class="password-strength__title">Passwortstärke: <span class="password-strength__text js-password-strength__text"></span></div></div></div>
<div class="js-form-item form-item js-form-type-password form-type-password js-form-item-pass-pass2 form-item-pass-pass2 confirm-parent">
      <label for="edit-pass-pass2" class="js-form-required form-required">Passwort bestätigen</label>
        <input class="password-confirm js-password-confirm form-text required" data-drupal-selector="edit-pass-pass2" type="password" id="edit-pass-pass2" name="pass[pass2]" size="25" maxlength="128" required="required" aria-required="true">

        <div aria-live="polite" aria-atomic="true" class="password-confirm js-password-confirm">Passwörter stimmen überein: <span></span></div></div><div class="password-suggestions description" style="display: none;"></div>

            <div id="edit-pass--description" class="description">
      Geben Sie das Passwort für das neue Konto in beide Felder ein.
    </div>
  </div>
</div>
<div class="field--type-string field--name-field-abonummer field--widget-string-textfield js-form-wrapper form-wrapper" data-drupal-selector="edit-field-abonummer-wrapper" id="edit-field-abonummer-wrapper">      <div class="js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-field-abonummer-0-value form-item-field-abonummer-0-value">
      <label for="edit-field-abonummer-0-value">Abonummer</label>
        <input class="js-text-full text-full form-text" data-drupal-selector="edit-field-abonummer-0-value" type="text" id="edit-field-abonummer-0-value" name="field_abonummer[0][value]" value="" size="60" maxlength="255" placeholder="">

        </div>

  </div>
</div>
</details>
<input autocomplete="off" data-drupal-selector="form-w-ejtlltrrm6wfpfogahahm3oxby8h6-1gmk521hs20" type="hidden" name="form_build_id" value="form-W-ejtLltRRM6WfPFOGAHaHM3oXBY8H6-1gmk521Hs20">
<input data-drupal-selector="edit-user-register-form" type="hidden" name="form_id" value="user_register_form">
<details class="required-fields field-group-details js-form-wrapper form-wrapper" open="open">    <summary role="button" aria-expanded="true" aria-pressed="true">Anschrift</summary><div class="details-wrapper">
    <div class="field--type-list-string field--name-field-title field--widget-options-select js-form-wrapper form-wrapper" data-drupal-selector="edit-field-title-wrapper" id="edit-field-title-wrapper"><div class="js-form-item form-item js-form-type-select form-type-select js-form-item-field-title form-item-field-title">
      <label for="edit-field-title">Anrede/Titel</label>
        <select data-drupal-selector="edit-field-title" id="edit-field-title" name="field_title" class="form-select"><option value="_none">- Keine -</option><option value="Frau">Frau</option><option value="Herr">Herr</option><option value="Dr.">Dr.</option><option value="Prof.">Prof.</option><option value="Prof. Dr.">Prof. Dr.</option></select>
        </div>
</div>
<div class="field--type-string field--name-field-first-name field--widget-string-textfield js-form-wrapper form-wrapper" data-drupal-selector="edit-field-first-name-wrapper" id="edit-field-first-name-wrapper">      <div class="js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-field-first-name-0-value form-item-field-first-name-0-value">
      <label for="edit-field-first-name-0-value">Vorname</label>
        <input class="js-text-full text-full form-text" data-drupal-selector="edit-field-first-name-0-value" type="text" id="edit-field-first-name-0-value" name="field_first_name[0][value]" value="" size="60" maxlength="255" placeholder="">

        </div>

  </div>
<div class="field--type-string field--name-field-last-name field--widget-string-textfield js-form-wrapper form-wrapper" data-drupal-selector="edit-field-last-name-wrapper" id="edit-field-last-name-wrapper">      <div class="js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-field-last-name-0-value form-item-field-last-name-0-value">
      <label for="edit-field-last-name-0-value">Nachname</label>
        <input class="js-text-full text-full form-text" data-drupal-selector="edit-field-last-name-0-value" type="text" id="edit-field-last-name-0-value" name="field_last_name[0][value]" value="" size="60" maxlength="255" placeholder="">

        </div>

  </div>
<div class="field--type-string field--name-field-street field--widget-string-textfield js-form-wrapper form-wrapper" data-drupal-selector="edit-field-street-wrapper" id="edit-field-street-wrapper">      <div class="js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-field-street-0-value form-item-field-street-0-value">
      <label for="edit-field-street-0-value">Straße</label>
        <input class="js-text-full text-full form-text" data-drupal-selector="edit-field-street-0-value" type="text" id="edit-field-street-0-value" name="field_street[0][value]" value="" size="60" maxlength="255" placeholder="">

        </div>

  </div>
<div class="field--type-string field--name-field-street-addon field--widget-string-textfield js-form-wrapper form-wrapper" data-drupal-selector="edit-field-street-addon-wrapper" id="edit-field-street-addon-wrapper">      <div class="js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-field-street-addon-0-value form-item-field-street-addon-0-value">
      <label for="edit-field-street-addon-0-value">Zusatz</label>
        <input class="js-text-full text-full form-text" data-drupal-selector="edit-field-street-addon-0-value" type="text" id="edit-field-street-addon-0-value" name="field_street_addon[0][value]" value="" size="60" maxlength="255" placeholder="">

        </div>

  </div>
<div class="field--type-string field--name-field-zip field--widget-string-textfield js-form-wrapper form-wrapper" data-drupal-selector="edit-field-zip-wrapper" id="edit-field-zip-wrapper">      <div class="js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-field-zip-0-value form-item-field-zip-0-value">
      <label for="edit-field-zip-0-value">Postleitzahl</label>
        <input class="js-text-full text-full form-text" data-drupal-selector="edit-field-zip-0-value" type="text" id="edit-field-zip-0-value" name="field_zip[0][value]" value="" size="60" maxlength="255" placeholder="">

        </div>

  </div>
<div class="field--type-string field--name-field-city field--widget-string-textfield js-form-wrapper form-wrapper" data-drupal-selector="edit-field-city-wrapper" id="edit-field-city-wrapper">      <div class="js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-field-city-0-value form-item-field-city-0-value">
      <label for="edit-field-city-0-value">Stadt</label>
        <input class="js-text-full text-full form-text" data-drupal-selector="edit-field-city-0-value" type="text" id="edit-field-city-0-value" name="field_city[0][value]" value="" size="60" maxlength="255" placeholder="">

        </div>

  </div>
<div class="field--type-string field--name-field-country field--widget-string-textfield js-form-wrapper form-wrapper" data-drupal-selector="edit-field-country-wrapper" id="edit-field-country-wrapper">      <div class="js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-field-country-0-value form-item-field-country-0-value">
      <label for="edit-field-country-0-value">Land</label>
        <input class="js-text-full text-full form-text" data-drupal-selector="edit-field-country-0-value" type="text" id="edit-field-country-0-value" name="field_country[0][value]" value="" size="60" maxlength="255" placeholder="">

        </div>

  </div>
<div class="field--type-string field--name-field-phone field--widget-string-textfield js-form-wrapper form-wrapper" data-drupal-selector="edit-field-phone-wrapper" id="edit-field-phone-wrapper">      <div class="js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-field-phone-0-value form-item-field-phone-0-value">
      <label for="edit-field-phone-0-value">Telefonnummer</label>
        <input class="js-text-full text-full form-text" data-drupal-selector="edit-field-phone-0-value" type="text" id="edit-field-phone-0-value" name="field_phone[0][value]" value="" size="60" maxlength="255" placeholder="">

        </div>

  </div>
<div class="field--type-string field--name-field-woher field--widget-string-textfield js-form-wrapper form-wrapper" data-drupal-selector="edit-field-woher-wrapper" id="edit-field-woher-wrapper">      <div class="js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-field-woher-0-value form-item-field-woher-0-value">
      <label for="edit-field-woher-0-value">Woher kennen Sie die Blätter</label>
        <input class="js-text-full text-full form-text" data-drupal-selector="edit-field-woher-0-value" type="text" id="edit-field-woher-0-value" name="field_woher[0][value]" value="" size="60" maxlength="255" placeholder="">

        </div>

  </div>
</div>
</details>
<div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper" id="edit-actions"><input data-drupal-selector="edit-submit" type="submit" id="edit-submit" name="op" value="Neues Benutzerkonto erstellen" class="button button--primary js-form-submit form-submit">
</div>

</form>