{% from 'form.twig' import formgroup %}

<form accept-charset="UTF-8" action="#" class="nodeshop__form content__inner" data-drupal-selector="nodeshop-order-payment-form" id="nodeshop-order-checkout-form" method="post">


  Please check your information, accept the terms of use and click on "Proceed".    <section class="nodeshop_order_items">
        <h2>Your order contains the following items <a href="#">edit</a></h2>

            <p>1 × Sanders gegen Clinton, Trump gegen alle à <span class="nodeshop_price">
     1,00&nbsp;€
</span>
</p>
            <p>1 × 2:1 fur Spahn à <span class="nodeshop_price">
     1,00&nbsp;€
</span>
</p>
            <p>1 × Die große Entzauberung à <span class="nodeshop_price">
     2,00&nbsp;€
</span>
</p>
            <p>1 × Donald Trump: Der Schrecken der Neocons  à <span class="nodeshop_price">
     2,00&nbsp;€
</span>
</p>
            <p>1 × Politik als Kriegsführung à <span class="nodeshop_price">
     3,00&nbsp;€
</span>
</p>

        <h2>Your orders total </h2>

  <div class="field field--name-order-total field--type-decimal field--label-inline">
    <div class="field__label">Order total</div>
              <div class="field__item"><span class="nodeshop_price">
     9,00&nbsp;€
</span>
</div>
          </div>
 including taxes of
  <div class="field field--name-order-tax field--type-decimal field--label-inline">
    <div class="field__label">Order tax total</div>
              <div class="field__item"><span class="nodeshop_price">
     0,63&nbsp;€
</span>
</div>
          </div>


        <h2>Your have chosen the following payment method <a href="#">edit</a></h2>
        <p>Pay per invoice</p>

    </section>
<div class="nodeshop_order_address">
            <h2>Billing and delivery address <a href="#">edit</a></h2>
                <div itemscope="" itemtype="http://schema.org/Person">
        <span itemprop="name">Frau&nbsp;Tobias Marciniak</span>
        <div itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
            <span itemprop="streetAddress">
                Test1 <br>
                            </span>
            <span itemprop="postalCode">12345</span>
            <span itemprop="addressLocality">Test</span><br>
            <span itemprop="addressCountry">Test</span>
        </div>
    </div>
    </div>
<div class="nodeshop_order_address">
            <h2>Delivery address <a href="#">edit</a></h2>
                <div itemscope="" itemtype="http://schema.org/Person">
        <span itemprop="name">1&nbsp;Test1 test</span>
        <div itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
            <span itemprop="streetAddress">
                tesd <br>
                 dfgkd             </span>
            <span itemprop="postalCode">28334</span>
            <span itemprop="addressLocality">dfsdfsf</span><br>
            <span itemprop="addressCountry">sdfdfsf</span>
        </div>
    </div>
    </div>
<div class="js-form-item form-item js-form-type-textarea form-type-textarea js-form-item-customer-information form-item-customer-information">
      <label for="edit-customer-information">additional information</label>
        <div class="form-textarea-wrapper">
  <textarea data-drupal-selector="edit-customer-information" aria-describedby="edit-customer-information--description" id="edit-customer-information" name="customer_information" rows="2" cols="60" class="form-textarea resize-vertical"></textarea>
</div>

            <div id="edit-customer-information--description" class="description">
      Here you can enter any additional information you think are important for us.
    </div>
  </div>
<div class="js-form-item form-item js-form-type-checkbox form-type-checkbox js-form-item-tac form-item-tac">
        <input data-drupal-selector="edit-tac" type="checkbox" id="edit-tac" name="tac" value="1" class="form-checkbox required" required="required" aria-required="true">

        <label for="edit-tac" class="option js-form-required form-required">I accept the <a href="#" target="_blank">terms of use</a>.</label>
      </div>
<input autocomplete="off" data-drupal-selector="form-bajrof5zomaqfyqfne9kofml1dnxbnuhcaxwshlykxs" type="hidden" name="form_build_id" value="form-BAJRof5ZomAQFyQfne9KOFMl1dNXbnuHCaXWSHLyKxs">
<input data-drupal-selector="edit-nodeshop-order-payment-form-form-token" type="hidden" name="form_token" value="a8E1GZbILKbtW2DzuwG4FgdA_Ruu4O7x4oECXSvJsmo">
<input data-drupal-selector="edit-nodeshop-order-payment-form" type="hidden" name="form_id" value="nodeshop_order_payment_form">
<div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper" id="edit-actions"><input data-drupal-selector="edit-submit" type="submit" id="edit-submit" name="proceed" value="proceed to complete" class="button js-form-submit form-submit">
</div>

</form>