<div class="grid grid--bordered grid--stretch">
    <div class="grid__item one-half">

       <form class="nodeshop-order-address-form content__inner" data-drupal-selector="nodeshop-order-address-form" action="#" method="post" id="nodeshop-order-address-form" accept-charset="UTF-8">
            <div id="edit-personal-information-title" class="js-form-item form-item js-form-type-item form-type-item js-form-item-personal-information-title form-item-personal-information-title">
                <label for="edit-personal-information-title">Persönliche Angaben</label>
                    Bitte geben Sie Ihre persönlichen Daten ein. Dies wird für die Adressierung der Rechnung verwendet. Wenn Sie bereits ein Konto bei Blätter für deutsche und internationale Politik haben, werden diese Felder bereits automatisch ausgefüllt.
                    </div>
            <div class="grid js-form-wrapper form-wrapper" data-drupal-selector="edit-personal-information" id="edit-personal-information"><div class="grid__item two-thirds js-form-item form-item js-form-type-select form-type-select js-form-item-customer-title form-item-customer-title">
                <label for="edit-customer-title" class="js-form-required form-required">Anrede</label>
                    <select data-drupal-selector="edit-customer-title" id="edit-customer-title" name="customer_title" class="form-select required" required="required" aria-required="true"><option value="">Anrede/Titel</option><option value="Frau">Frau</option><option value="Herr">Herr</option><option value="Dr." selected="selected">Dr.</option><option value="Prof.">Prof.</option><option value="Prof. Dr.">Prof. Dr.</option></select>
                    </div>
            <div class="grid__item one-half js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-customer-first-name form-item-customer-first-name">
                <label for="edit-customer-first-name" class="js-form-required form-required">Firstname</label>
                    <input data-drupal-selector="edit-customer-first-name" type="text" id="edit-customer-first-name" name="customer_first_name" value="Tobias" size="60" maxlength="128" class="form-text required" required="required" aria-required="true">

                    </div>
            <div class="grid__item one-half js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-customer-last-name form-item-customer-last-name">
                <label for="edit-customer-last-name" class="js-form-required form-required">Nachname</label>
                    <input data-drupal-selector="edit-customer-last-name" type="text" id="edit-customer-last-name" name="customer_last_name" value="Marciniak" size="60" maxlength="128" class="form-text required" required="required" aria-required="true">

                    </div>
            <div class="grid__item js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-customer-email form-item-customer-email">
                <label for="edit-customer-email" class="js-form-required form-required">E-Mail Adresse</label>
                    <input data-drupal-selector="edit-customer-email" aria-describedby="edit-customer-email--description" type="text" id="edit-customer-email" name="customer_email" value="tobi@neuronaut.de" size="60" maxlength="128" class="form-text required" required="required" aria-required="true">

                        <div id="edit-customer-email--description" class="description">
                Bitte geben Sie hier Ihre E-Mail-Adresse ein. Dies ist notwendig, um mit Ihnen in Kontakt zu treten, wenn es Fragen zu Ihren Bestellungen und Informationen wie die Bestätigung Ihrer Anfrage gibt. Wir werden Ihre E-Mail-Adresse nicht an Dritte weitergeben.
                </div>
            </div>
            <div class="grid__item js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-customer-phone form-item-customer-phone">
                <label for="edit-customer-phone">Telefonnummer</label>
                    <input data-drupal-selector="edit-customer-phone" aria-describedby="edit-customer-phone--description" type="text" id="edit-customer-phone" name="customer_phone" value="" size="60" maxlength="128" class="form-text">

                        <div id="edit-customer-phone--description" class="description">
                Bitte geben Sie hier Ihre Telefonnummer ein. Dies ist nicht notwendig, aber empfehlenswert, wenn es Fragen zu Ihrer Bestellung gibt. Wir werden diese Nummer nicht an Dritte weitergeben.
                </div>
            </div>
            </div>
            <div id="edit-customer-address-title" class="js-form-item form-item js-form-type-item form-type-item js-form-item-customer-address-title form-item-customer-address-title">
                <label for="edit-customer-address-title">Rechnungs- und Lieferanschrift</label>
                    Bitte geben Sie die Rechnungs- und Lieferanschrift an.
                    </div>
            <div class="grid js-form-wrapper form-wrapper" data-drupal-selector="edit-customer-address-information" id="edit-customer-address-information"><div class="grid__item js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-customer-street form-item-customer-street">
                <label for="edit-customer-street" class="js-form-required form-required">Straße</label>
                    <input data-drupal-selector="edit-customer-street" type="text" id="edit-customer-street" name="customer_street" value="gag aga" size="60" maxlength="128" class="form-text required" required="required" aria-required="true">

                    </div>
            <div class="grid__item js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-customer-street-addon form-item-customer-street-addon">
                <label for="edit-customer-street-addon">Zusatz</label>
                    <input data-drupal-selector="edit-customer-street-addon" type="text" id="edit-customer-street-addon" name="customer_street_addon" value="" size="60" maxlength="128" class="form-text">

                    </div>
            <div class="grid__item one-half js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-customer-postal-code form-item-customer-postal-code">
                <label for="edit-customer-postal-code" class="js-form-required form-required">Postleitzahl</label>
                    <input data-drupal-selector="edit-customer-postal-code" type="text" id="edit-customer-postal-code" name="customer_postal_code" value="agag" size="60" maxlength="128" class="form-text required" required="required" aria-required="true">

                    </div>
            <div class="grid__item one-half js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-customer-city form-item-customer-city">
                <label for="edit-customer-city" class="js-form-required form-required">Stadt</label>
                    <input data-drupal-selector="edit-customer-city" type="text" id="edit-customer-city" name="customer_city" value="agag" size="60" maxlength="128" class="form-text required" required="required" aria-required="true">

                    </div>
            <div class="grid__item js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-customer-country form-item-customer-country">
                <label for="edit-customer-country" class="js-form-required form-required">Land</label>
                    <input data-drupal-selector="edit-customer-country" type="text" id="edit-customer-country" name="customer_country" value="aa" size="60" maxlength="128" class="form-text required" required="required" aria-required="true">

                    </div>
            </div>
            <div class="js-form-item form-item js-form-type-checkbox form-type-checkbox js-form-item-needs-deliver-information form-item-needs-deliver-information">
                    <input data-drupal-selector="edit-needs-deliver-information" type="checkbox" id="edit-needs-deliver-information" name="needs_deliver_information" value="1" class="form-checkbox">

                    <label for="edit-needs-deliver-information" class="option">Möchten Sie eine abweichende Lieferanschrift angeben?</label>
                </div>
            <input autocomplete="off" data-drupal-selector="form-fzuaclc2gm0brunl7htk2ccmdshxfr-clvkztdqawt0" type="hidden" name="form_build_id" value="form-fzuaClC2gm0bRunL7htk2cCmDSHXFR_ClVKzTdQaWt0">
            <input data-drupal-selector="edit-nodeshop-order-address-form-form-token" type="hidden" name="form_token" value="vIJr5Z2NWedTk83R1yFkcgrzWZkM4c3JtAxiNcuYrgs">
            <input data-drupal-selector="edit-nodeshop-order-address-form" type="hidden" name="form_id" value="nodeshop_order_address_form">
            <div data-drupal-states="{&quot;invisible&quot;:{&quot;input[name=\u0022needs_deliver_information\u0022]&quot;:{&quot;checked&quot;:false}}}" id="edit-deliver-information-title" class="js-form-item form-item js-form-type-item form-type-item js-form-item-deliver-information-title form-item-deliver-information-title" style="display: none;">
                <label for="edit-deliver-information-title">Rechnungsanschrift</label>
                    
                    </div>
            <div class="grid js-form-wrapper form-wrapper" data-drupal-selector="edit-deliver-information" data-drupal-states="{&quot;invisible&quot;:{&quot;input[name=\u0022needs_deliver_information\u0022]&quot;:{&quot;checked&quot;:false}}}" id="edit-deliver-information" style="display: none;"><div class="grid__item two-thirds js-form-item form-item js-form-type-select form-type-select js-form-item-delivery-title form-item-delivery-title">
                <label for="edit-delivery-title">Anrede</label>
                    <select data-drupal-selector="edit-delivery-title" id="edit-delivery-title" name="delivery_title" class="form-select"><option value="" selected="selected">Anrede/Titel</option><option value="0">Frau</option><option value="1">Herr</option><option value="2">Dr.</option><option value="3">Prof.</option><option value="4">Prof. Dr.</option></select>
                    </div>
            <div class="grid__item one-half js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-delivery-first-name form-item-delivery-first-name">
                <label for="edit-delivery-first-name">Vorname</label>
                    <input data-drupal-selector="edit-delivery-first-name" type="text" id="edit-delivery-first-name" name="delivery_first_name" value="" size="60" maxlength="128" class="form-text">

                    </div>
            <div class="grid__item one-half js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-delivery-last-name form-item-delivery-last-name">
                <label for="edit-delivery-last-name">Nachname</label>
                    <input data-drupal-selector="edit-delivery-last-name" type="text" id="edit-delivery-last-name" name="delivery_last_name" value="" size="60" maxlength="128" class="form-text">

                    </div>
            <div class="grid__item js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-delivery-street form-item-delivery-street">
                <label for="edit-delivery-street">Straße</label>
                    <input data-drupal-selector="edit-delivery-street" type="text" id="edit-delivery-street" name="delivery_street" value="" size="60" maxlength="128" class="form-text">

                    </div>
            <div class="grid__item js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-delivery-street-addon form-item-delivery-street-addon">
                <label for="edit-delivery-street-addon">Zusatz</label>
                    <input data-drupal-selector="edit-delivery-street-addon" type="text" id="edit-delivery-street-addon" name="delivery_street_addon" value="" size="60" maxlength="128" class="form-text">

                    </div>
            <div class="grid__item one-half js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-delivery-postal-code form-item-delivery-postal-code">
                <label for="edit-delivery-postal-code">Postleitzahl</label>
                    <input data-drupal-selector="edit-delivery-postal-code" type="text" id="edit-delivery-postal-code" name="delivery_postal_code" value="" size="60" maxlength="10" class="form-text">

                    </div>
            <div class="grid__item one-half js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-delivery-city form-item-delivery-city">
                <label for="edit-delivery-city">Stadt</label>
                    <input data-drupal-selector="edit-delivery-city" type="text" id="edit-delivery-city" name="delivery_city" value="" size="60" maxlength="128" class="form-text">

                    </div>
            <div class="grid__item js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-delivery-country form-item-delivery-country">
                <label for="edit-delivery-country">Land</label>
                    <input data-drupal-selector="edit-delivery-country" type="text" id="edit-delivery-country" name="delivery_country" value="" size="60" maxlength="128" class="form-text">

                    </div>
            </div>
            <div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper" id="edit-actions"><input data-drupal-selector="edit-submit" type="submit" id="edit-submit" name="proceed" value="Weiter zur Zahlung" class="button js-form-submit form-submit">
            </div>

        </form>

    </div>
    <div class="grid__item one-half">

        {% include 'atoms-paragraph' %}
        {% include 'atoms-unordered' %}

    </div>
</div>