$blockquote-namespace:              $namespace !default;

#{$blockquote-namespace}blockquote {
    background-color:   $grey;
    border-left:        5px solid darken($grey, 10%);
    margin-left:        $gridGutter;
    background:         none;
    border:             0 none;
    padding:            0;
    @include getRem('margin-bottom', $blockBottomMarginPx);
    color:              lighten($baseTextColor, 20%);
    > *:last-child {
        margin-bottom:  0;
    }
}
