$heading-namespace:       $namespace !default;

#{$heading-namespace}h1,
#{$heading-namespace}h2,
#{$heading-namespace}h3,
#{$heading-namespace}h4,
#{$heading-namespace}h5 {
    @include heading--reset();
    a {
        font-weight:    inherit;
    }
    &.heading--bluebox {
        @include heading--bluebox();
    }
}

#{$heading-namespace}h1 {
    @include headline1();
}
#{$heading-namespace}h2 {
   @include headline2();
}

#{$heading-namespace}h3 {
    @include headline3();
}

#{$heading-namespace}h4 {
    @include headline4();
}


#{$heading-namespace}.heading--article {
    font-size:                      4em;
    margin-bottom:                  0.3em;
    margin-top:                     0.3em;
    @include media-query('palm') {
        font-size:                  2em;
    margin-bottom:                  0.5em;
    }
}

// Headline for subsections on indexpages, grey border
#{$heading-namespace}.heading--sectiontitle {
    display:                        flex;
    flex-wrap:                      wrap;
    text-transform:                 uppercase;
    border-top:                     1px solid $greyBorder;
    border-bottom:                  4px solid $greyBorder;
    padding:                        0.8em 0 0.7em 0;
    margin:                         3em 0 2em 0;
    &.red {
        color:                          $red;
    }
    .text {
        flex-grow:                  1;
    }
    .aside {
        flex-grow:                  0;
        display:                    inline-block;
        font-weight:                normal;
        a {
            color:                  $linkColor;
        }
    }
    @include media-query('palm') {
        padding-left:               $pagePaddingPalmPx;
        padding-right:              $pagePaddingPalmPx;
    }
}


#{$heading-namespace}.heading--sectiontitle-marginal {
    display:                        block;
    flex-wrap:                      wrap;
    text-transform:                 uppercase;
    border-bottom:                  4px solid $greyBorder;
    padding:                        0.8em 0 0 0;
    margin:                         3em 0 2em 0;
    color:                          $red;
    .text {
        display:                    inline-block;
        width:                      auto; 
        border-bottom:              4px solid $red;
        padding:                    0 0 0.7em 0;
        margin-bottom:              -4px;
    }
   
    @include media-query('palm') {
       // padding-left:               $pagePaddingPalmPx;
      //  padding-right:              $pagePaddingPalmPx;
    }
}

#{$heading-namespace}.heading--dossiercat {
    @include headline2();
    display:                        block;
    font-weight:                    700;
    text-transform:                 uppercase;
    border-bottom:                  4px solid $greyBorder;
    padding:                        0.8em 0 0.7em 0;
    margin:                         1em 0 2em 0;
    width:                          100%; 

        

   
    @include media-query('palm') {
       // padding-left:               $pagePaddingPalmPx;
      //  padding-right:              $pagePaddingPalmPx;
    }
}

