<div class="palm_user_profile user-profile">

    <div class="message">
        <p>
            Currently you have no active online subscription. You can purchase one <a href="#" rel="nofollow">at our shop</a>.                
        </p>
    </div>

    <p>
        This is your user profile page. Here you can view and edit all your data, review your orders and access all of your purchased online articles.
    </p>

    <h2>account details<a href="#" rel="nofollow">Bearbeiten</a></h2>
    <div class="palm_user_profile_block user-profile-block">
        <h3>username</h3>
        <p>tobi</p>
        <h3>mail address</h3>
        <p>tobi@neuronaut.de</p>
    </div>

    <h2>my details<a href="#" rel="nofollow">Bearbeiten</a></h2>
    <div class="palm_user_profile_block user-profile-block">
        <h3>Anschrift</h3>
        <p>
                Tobias
                Marciniak,
                gag aga...
        </p>
        <h3>Telefonnummer</h3>
        <p>not set yet</p>
    </div>

    <h2>my kindle settings<a href="#" rel="nofollow">Bearbeiten</a></h2>    
    <div class="palm_user_profile_block user-profile-block">
        <h3>kindle mail</h3>
        <p>
            not set yet
        </p>
    </div>
  </div>