<div class="article-attributes{{ data.blockClass ? ' ' ~ data.blockClass }}">
    <h3 class="heading">{{ data.title|default('Article attributes') }}</h3>
    <ul>
{% if data.listitems %}
{% for listitem in data.listitems%}
        <li>
            <span class="title">{{ listitem.title|raw }}</span>
            <span class="text">{{ listitem.text|raw }}</span>
        </li>
{% endfor %}
{% else %}
        <li>
            <span class="title">Was</span>
            <span class="text">Beschreibungstitel</span>
        </li>
        <li>
            <span class="title">Wann</span>
            <span class="text">Montag bis Samstag 11-20 Uhr</span>
        </li>
        <li>
            <span class="title">Wo</span>
            <span class="text">Musterstraße 1a, 12345 Berlin</span>
        </li>
        <li>
            <span class="title">Öffnungszeiten</span>
            <span class="text">Mittwoch bis Montag von 10 bis 19 Uhr</span>
        </li>
        <li>
            <span class="title">Eintritt</span>
            <span class="text">8 Euro, ermäßigt 6 Euro</span>
        </li>
{% endif %}
    </ul>
</div>
