<div class="block comment">
    <p class="text">{{ data.text|raw|default('Ich bin ein Kommentar. Überall dieselbe alte Leier. Das Layout ist fertig, der Text lässt auf sich warten.') }}</p>
    <div class="meta">{{ data.meta|raw|default('Max Mustermann / 18.6.2018 / 9:56 Uhr') }}</div>
</div>