<div class="block block--red header-message">
    <div class="text">
        <p class="text--big">
            Unterstützen Sie die »Blätter« mit einem Abonnement! <a class="button--promo right">Zum Aktionabo!</a>
        </p>
    </div>
</div>
