<div class="block homepage-dosierteaser spaceless">
    {% include "molecules-teaser" with {data: {
                "class": "teaser--poster",
                "text": "false",
                "imageurl": "https://picsum.photos/700/395/?image=71",
                "source": "picsum.photos",
                "title": "Der globale Pflegenotstand",
                "author": "Heino Güllemann"
    }} %}
</div>
