<div class="block homepage-dossierteaser spaceless">
    {% include "molecules-teaser" with {data: {
                "class": "teaser--poster",
                "text": "false",
                "imageurl": "https://picsum.photos/700/395/?image=71",
                "title": "Der globale Pflegenotstand",
                "hideAuthor": "true",
    }} %}
</div>
