<article class="homepage-heroimage">
        <div class="image">
          <div class="teaser-hero">
            <a href="#">
                <img src="{{ data.imageurl? data.imageurl : 'https://picsum.photos/1200/675/?image=836' }}" />
            </a>
            <p class="source">@ {{ data.title|default('picsum.photos') }}</p>
          </div>
        </div>
        <div class="body">
            <h2 class="heading">
                <a href="#">
                    {{ data.title|default('Title') }}
                </a>
            </h2>
            <p class="author">von <a href="#" class="author-name">{{ data.author|default('Author') }}</a></p>
        </div>

</article>
