<div class="block homepage-dosierteaser">
    <div class="grid">
        <div class="grid__item two-thirds">
            {% include "molecules-teaser" with {data: {
                        "class": "teaser--poster",
                        "text": "false",
                        "imageurl": "https://picsum.photos/620/465/?random",
                        "source": "unsplash.com"
            }} %}
        </div>
        <div class="grid__item one-third">
            {% include "molecules-teaser" with {data: {
                         "hideTeaserImage": true,
                        "class": "teaser--text",
                        "text": "false"
            }} %}
            {% include "molecules-teaser" with {data: {
                         "hideTeaserImage": true,
                        "class": "teaser--text",
                        "text": "false"
            }} %}
            {% include "molecules-teaser" with {data: {
                         "hideTeaserImage": true,
                        "class": "teaser--text",
                        "text": "false"
            }} %}
           
        </div>
    </div>
</div>
