<figure class="image image--paragraph{{ data.imageClass? ' ' ~ data.imageClass : ' t_left' }}">
    <div class="inner">
        <a href="#" title="Link zu: Teaser">
            <img src="{{ data.imageurl? data.imageurl : '../../images/sample/dummy_4x3_300.jpg' }}" alt="Bildbeschreibung" /> 
        </a>
        <figcaption class="source">© dpa</figcaption>
    </div>
    <p class="caption">Bildunteraschrift</p>
</figure>
