<div class="block teaser teaser--aktuelle-ausgabe">
    <div class="image">
        <div class="field field--name-field-primary-picture field--type-image field--label-hidden field__item">
            <img src="/images/sample/archiv1.jpg" alt="" typeof="foaf:Image">
        </div>
    </div>
    <div class="inner">
        <p>This article is part of the Januar 2019.</p>
        <a class="button button--buy" href="" rel="nofollow" title="Januar 2019 (online) in den Warenkorb legen">
            Digitalausgabe kaufen <span class="right">(10.00€) <i class="fa fa-shopping-cart" aria-hidden="true"></i></span>
        </a><br>
    </div>
</div>