<div class="{{ data.class|default('message') }}">
    <h4>Nullam dictum felis eu pede</h4>
    <p>
        Lorem ipsum dolor sit amet, consectetuer elit. Aenean commodo ligula eget dolor.
    </p>
    <ul>
        <li>Cum sociis natoque penatibus</li>
        <li>Donec quam felis</li>
        <li>Nulla consequat massa</li>
    </ul>
</div>
