<div class="block block--promo">
  <div class="promo--background-wrapper">
    <div class="promo--wrapper">
      <a class="promo-close"><i class="fa fa-times"></i></a>
      <a href="#" title="" class="inner grid">
        <h2 class="grid__item one-third">Aktions-Abo</h2>
        <p class="grid__item one-third">Jetzt die »Blätter« abonnieren<br />zum Aktionspreis mit Buch-Prämie.</p>
        <p class="grid__item one-third">&nbsp;</p>
      </a>
    </div>
    <a href="#" title="" class="promo-arrow">&nbsp;</a>
  </div>
  <a href="#" title="" class="promo-image"><img src="/images/blaetter-0924-banner-titel.png" /></a>
</div>
