<div class="block block--white teaser--socialmedia">
  <a title="Twitter" href="https://twitter.com/blaetter">
    <img title="" src="/images/smb_twitter.svg" alt="" />
  </a>
  <a title="Facebook" href="https://www.facebook.com/blaetterverlag/">
    <img title="" src="/images/smb_facebook.svg" alt="" />
  </a>
  <a title="Instagram" href="https://www.instagram.com/blaetterpolitik/">
    <img title="" src="/images/smb_instagram.svg" alt="" />
  </a>
  <a title="YouTube" href="https://www.youtube.com/channel/UC7tk4kd7QSVW_Dk8Mp6pJ6Q">
    <img title="" src="/images/smb_youtube.svg" alt="" />
  </a>
  <a title="Newsletter" href="https://listen.jpberlin.de/mailman/listinfo/blaetter_newsletter">
    <img title="" src="/images/smb_email.svg" alt="" />
  </a>
  <a title="RSS" href="https://www.blaetter.de/rss.xml">
    <img title="" src="/images/smb_rss.svg" alt="" />
  </a>
</div>
