<ul class="social">
    <li><a class="ic facebook" href="#" title="Auf Facebook folgen"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
    <li><a class="ic twitter" href="#" title="Auf Twitter folgen"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
    <li><a class="ic email" href="#" title="Email"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
    <li><a class="ic download" href="#" title="Download"><i class="fa fa-download" aria-hidden="true"></i></a></li>
</ul>