<div class="view view-nodeshop-user-orders view-id-nodeshop_user_orders view-display-id-page_1 js-view-dom-id-e9841980abeeead4a5537f5d2978c889e0642f1cf50bfc6a77ef4cf45525120f">
  
    
      <div class="view-header">
      Auf dieser Seite können Sie Ihre Bestellungen ansehen. So haben Sie jederzeit Zugriff auf die von Ihnen bestellten Online-Artikel, -Ausgaben oder -Dossiers.
    </div>
      
      <div class="view-content">
      <table class="views-table views-view-table cols-4">
        <thead>
      <tr>
                                                  <th id="view-created-table-column" class="views-field views-field-created is-active" scope="col"><a href="" title="Nach Bestelldatum sortieren">Bestelldatum<span class="tablesort tablesort--asc">
  <span class="visually-hidden">
    Aufsteigend sortieren
      </span>
</span>
</a></th>
                                                  <th id="view-payment-method-table-column" class="views-field views-field-payment-method" scope="col"><a href="" title="Nach Zahlungsart sortieren">Zahlungsart</a></th>
                                                  <th id="view-order-total-table-column" class="views-field views-field-order-total" scope="col"><a href="" title="Nach Betrag sortieren">Betrag</a></th>
                                                  <th id="view-nothing-table-column" class="views-field views-field-nothing" scope="col">Aktionen</th>
              </tr>
    </thead>
    <tbody>
          <tr>
                                                                                        <td headers="view-created-table-column" class="views-field views-field-created is-active">2. Januar 2019 - 16:22          </td>
                                                                                        <td headers="view-payment-method-table-column" class="views-field views-field-payment-method">          </td>
                                                                                        <td headers="view-order-total-table-column" class="views-field views-field-order-total"><span class="nodeshop_price">
     1,00&nbsp;€ 
</span>
          </td>
                                                                                        <td headers="view-nothing-table-column" class="views-field views-field-nothing"><a href="#">Details</a>          </td>
              </tr>
          <tr>
                                                                                        <td headers="view-created-table-column" class="views-field views-field-created is-active">30. Dezember 2018 - 17:46          </td>
                                                                                        <td headers="view-payment-method-table-column" class="views-field views-field-payment-method">paypal          </td>
                                                                                        <td headers="view-order-total-table-column" class="views-field views-field-order-total"><span class="nodeshop_price">
     9,00&nbsp;€ 
</span>
          </td>
                                                                                        <td headers="view-nothing-table-column" class="views-field views-field-nothing"><a href="#">Details</a>          </td>
              </tr>
      </tbody>
</table>

    </div>
  
      
          </div>