$searchFieldHeight:         60px;
$searchfieldBorderColor:    $blue;

.form--navigationsearch {
    position:               relative;
    height:                 $searchFieldHeight;
    margin-bottom:          0;
    font-size:              $searchFieldHeight/3;
    .searchicon {
        position:           absolute;
        left:               10px;
        line-height:        $searchFieldHeight;
        color:              $blue;
        z-index:            3;
    }
    .searchtext {
        position:           absolute;
        width:              100%;
        left:               0;
        background:         $white;
        border:             2px solid $searchfieldBorderColor;
        height:             $searchFieldHeight;
        color:              $black;
        min-height:         auto;
        padding:            16px;
        padding-left:       32px;
    }
    .submit{
        position:           absolute;
        right:              0;
        height:             $searchFieldHeight;
        background:         $searchfieldBorderColor;
        color:              $white;
        text-transform:     uppercase;
        border:             1px solid $searchfieldBorderColor;
        font-weight:        700;
        font-size:          $base-font-size;
        padding:            16px;
    }
}

.search-form {
    .form-wrapper {
        display:            flex;
        label {
            display:            none;
        }
        .form-item {
            display:            block;
            width:              100%;
            background:         $white;
            border:             2px solid $searchfieldBorderColor;
            height:             $searchFieldHeight;
            color:              $black;
            min-height:         auto;
            overflow:           hidden;
            input {
                padding:        8px 16px;
                border:         none;
            }
        }
        .form-submit{
            height:             $searchFieldHeight;
            background:         $searchfieldBorderColor;
            color:              $white;
            text-transform:     uppercase;
            border:             1px solid $searchfieldBorderColor;
            font-weight:        700;
            font-size:          $base-font-size;
            padding:            8px 16px;
            max-width:          100px;
            border-radius:      0;
        }
    }
}
