.nodeshop-cart-form {
    .nodeshop_cart_header,
    .nodeshop_cart_footer {
        margin-bottom:  0.5em;
        margin-top:     0.5em;
    }
    table {
        width:          100%;
        @include media-query('palm') {
            display:    block;
        }
        thead {
            @include media-query('palm') {
                display:    none;
            }
            th {
                display:    none;
                text-align: left;
                font-size: 1em;
                color: black;
                padding: 1em 1em 0.5em 0;
            }
        }
        tbody {
            @include media-query('palm') {
                display:    block;
            }
            tr {
                border-bottom: 1px solid $greyDark;
                @include media-query('palm') {
                    display:    block;
                    padding-bottom: $blockBottomMarginPx;
                    margin-bottom: $blockBottomMarginPx;
                }
            }
            td {
                @include media-query('lap-and-up') {
                    padding-right:  30px;
                    padding-top:    12px;
                    padding-bottom: 12px;
                    &:last-child {
                        padding-right:  0px;
                    }
                }
                @include media-query('palm') {
                    padding-top:    0;
                    padding-bottom: 0;
                    display:    block;
                }
                &:nth-child(2) {
                    width: 100%;
                }
                &:nth-child(4) {
                    position: relative;
                }
            }
            h2 {
                font-size:  18px;
                margin-top: 0;
            }
            img {
                display:    block;
                max-width:  150px;
                @include media-query('palm') {
                    max-width:  100%;
                }
            }
        }
        .form-number {
            width: 4em;
        }
        .price,
        .total-title {
            font-weight: bold;
        }
        .total-tax {
            color:          $lightestTextGrey;
            font-size:      12px;
        }
    }
    #paypal-button {
        display: inline-block;
        @include media-query('palm') {
            margin-top: 1em;
            text-align: center;
        }
    }
    .form-item-cart-fields-0-quantity {
        padding-right:  40px;
    }
    .nodeshop_cart_remove_item {
        background:     $greyBorder;
        color:          $white;
        border:         1px solid $greyBorder;
        border-radius:  24px;
        width:          24px;
        height:         24px;
        font-size:      24px;
        font-weight:    bold;
        display:        block;
        line-height:    23px;
        text-align:     center;
        text-transform: uppercase;
        position:       absolute;
        top:            20px;
        left:           4em;
        &:hover {
            text-decoration:    none;
            background:         $greyDark;
            border-color:       $greyDark;
        }
    }
}
