.nodeshop__form {
    h2 {
        @include nodeshop-heading-with-edit-link();
        font-size:              1em;
        margin-top:             0;
    }
    p + h2,
    div + h2 {
        margin-top:         $mediumGapPx;
    }
    .field {
        @include clearfix();
    }
    .field__item {
        display:            inline;
    }
    .field__label {
        display:            inline-block;
    }
    .field--name-order-total {
        .nodeshop_price {
            font-weight:    bold;
        }
    }
    .nodeshop_order_items {
        @include nodeshop_white_box();
        .nodeshop_price {
            float:          right;
        }
        &.form-item {
            margin-top: $mediumGapPx;
            margin-bottom: 0;
        }
    }
    .nodeshop_order_address {
        @include nodeshop_white_box();
    }
}