.view-nodeshop-user-orders {
    table {
        width:                      100%;
        margin:                     $blockBottomMarginPx 0;
        tr {
            td,th {
                border-bottom:      1px solid $greyBorder;
                &:first-child {
                    padding-left:   0;
                }
            }
            th {
                text-transform:     uppercase;
            }
        }
        
    }
}