.DS_Store
.bash_history
.cache/
.composer
.npm
.project
.settings
.yarn
backstop_data/bitmaps_tests/*
backstop_data/html_report/*
export/*
node_modules
public/*
source/styleguide
source-bundle/style.scss
vendor
.yarnrc
yarn-error.log
