$block-namespace:              $namespace !default;

// The base block element
#{$block-namespace}.block {
    @include block--base();
    .heading {
        @include block--base-headline();
    }
    .readall {
        @include link-readmore();
        float:                  right;
        margin-top:             0.5em;
    }
    &.special {
        @include block--base-special();
    }
    .image {
        @include block--base-image();
    }
    ul + .readmore {
        display: block;
        margin-top: -1.3em;
    }
}

#{$block-namespace}.block--white {
    @include nodeshop_white_box();
}



