$block-namespace:              $namespace !default;

// The base block element
#{$block-namespace}.block {
    @include block--base();
    .heading {
        @include block--base-headline();
    }
    .readall {
        @include link-readmore();
        float:                  right;
        margin-top:             0.5em;
    }
    &.special {
        @include block--base-special();
    }
    .image {
        @include block--base-image();
    }
    ul + .readmore {
        display: block;
        margin-top: -1.3em;
    }
    &.block--spacer {
        margin-bottom:  $gridGutter * 2;
    }
}

#{$block-namespace}.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;

    iframe,
    object,
    embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

#{$block-namespace}.block--white {
    @include nodeshop_white_box();
}

#{$block-namespace}.block--red {
    @include nodeshop_white_box();
    border: 2px solid $red;
}

#{$block-namespace}.block--promo {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 0;
  margin: 0;
  .promo--background-wrapper {
    padding: 0;
    margin: 0;
    bottom: 0;
    position: absolute;
    width: 100%;
    background-image: url('../source/images/promo_banner_arrow_right.svg');
    background-repeat: no-repeat;
    background-position: top right;
    height: 120px;
    @include media-query($breakpoint_phone) {
      height: 100px;
    }
    @include media-query($breakpoint_small) {
      height: 130px;
    }
    .promo--wrapper {
      background: $red;
      height: 100%;
      margin-right: 36px;
      @include media-query($breakpoint_phone) {
        margin-right: 30px;
      }
      @include media-query($breakpoint_small) {
        margin-right: 38px;
      }
      .inner {
        color: $white;
        @include media-query($breakpoint_phone) {
            width:          100%;
            margin:         0;
        }
        @include media-query($breakpoint_medium) {
            width:              100%;
            max-width:          $pageWidthDesk;
            margin:             0 auto;
        }
        h2 {
          background-image: url('../source/images/palm_sw.svg');
          background-position: top 6px right;
          background-repeat: no-repeat;
          color: $white;
          padding: $largeGapPx;
          margin: 0;
          min-width: 360px;
          width: 30%;
          &.winter {
            background-image: url('../source/images/logo_palm_snow.svg');
          }
          @include media-query($breakpoint_phone) {
            width: 50%;
            font-size: 1.8rem;
            min-width: 260px;
            padding-left: 40px;
          }
          @include media-query($breakpoint_small) {
            width: 100%;
            margin-right: 20px;
            padding-bottom: $smallGapPx;
            padding-left: 40px;
          }
        }
        p {
          color: $white;
          font-weight: bold;
          padding: $largeGapPx;
          white-space: nowrap;
          width: 30%;
          @include media-query($breakpoint_phone) {
            width: 50%;
            font-size: 0.9rem;
          }
          @include media-query($breakpoint_small) {
            width: 100%;
            padding-top: 0;
            padding-left: 40px;
          }
          &.placeholder {
            @include media-query($breakpoint_phone) {
              display:none;
            }
          }
        }
        &:hover {
          text-decoration: none;
        }
      }
      .promo-close {
        color: $white;
        padding: 4px;
        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer;
      }
    }
    .promo-arrow {
      position:absolute;
      top:0;
      right:0;
      width: 60px;
      height: 100%;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .promo-image {
    display: block;
    position: absolute;
    z-index: 101;
    @include media-query($breakpoint_phone) {
      display: none;
    }
    @include media-query($breakpoint_medium_max) {
      display: none;
    }
    @include media-query($breakpoint_medium) {
      width:  20%;
      right: 10%;
      bottom: -50px;
    }
    &:hover {
      text-decoration: none;
    }
    img {
      max-height: 350px;
    }
  }
}

// remove rss icon block from site
.feed-icons {
  display: none;
}
