$bonus-namespace:              $namespace !default;

// The base bonus element
#{$bonus-namespace}.nodeshop-bonus {
    margin-bottom:      $gridGutter;
    .nodeshop-bonus-node {
        @include clearfix();
        margin:     $gridGutter 0;
        .block--white {
            padding:    0;
        }
    }
    .btn {
        width:      100%;
        height:     auto;
    }
    .nodeshop-bonus-footer {
        .btn {
            @include media-query($breakpoint_medium) {
                width:  auto;
            }
        }
    }
}




