$bonus-namespace:              $namespace !default;

// The base bonus element
#{$bonus-namespace}.nodeshop-bonus {
    margin-bottom:      $gridGutter;
    .nodeshop-bonus-node {
        @include clearfix();
        margin:     $gridGutter 0;
        .block--white {
            padding:    0;
        }
    }
    .btn {
        width:      100%;
        height:     auto;
    }
    .nodeshop-bonus-footer {
        .btn {
            @include media-query($breakpoint_medium) {
                width:  auto;
            }
        }
    }
}

.node-type--praemie {
    .field--name-field-primary-picture {
        margin:     0 $gridGutter $gridGutter 0;
        float:      left;
    }
    @include media-query($breakpoint_phone) {
        .field--name-field-primary-picture {
            width:  100%;
            float:  none;
            img {
                width: 100%;
            }
        }
    }
}




