$drupal-cookie-consent-namespace:               $namespace !default;

/* drupal messages container */

#{$drupal-cookie-consent-namespace}.sliding-popup-bottom {
  width:                          100%;
  display:                        flex;
  justify-content:                center;
  align-items:                    stretch;
  flex-direction:                 column;
  bottom:                         -4000px !important;
  .eu-cookie-withdraw-tab {
    z-index:                        1;
    width:                          auto;
    max-width:                      $breakpoint_width_smallest;
    margin:                         0 auto;
    border-bottom:                  0 !important;
    border-radius:                  unset;
  }
  &.visible {
    height:                       100%;
    bottom:                       0 !important;
    .eu-cookie-compliance-banner {
      @include box-shadow(0, 0, 20px, 240px, rgba(0,0,0, 0.75));
    }
    &.initial {
      height:                       auto;
      max-height:                   40vh;
      .eu-cookie-compliance-banner {
        @include box-shadow(0, 0, 10px, 2px, rgba(0,0,0, 0.5));
        width:                        100%;
        max-width:                    100%;
      }
      .eu-cookie-compliance-has-categories {
        display:                    none;
      }
    }
  }
  .eu-cookie-compliance-banner {
    margin:                         0 auto;
    padding:                        $pagePaddingPx;
    max-width:                      $breakpoint_width_medium;
    min-width:                      $breakpoint_width_smallest;
    width:                          90%;
    max-height:                     90vh;
    min-height:                     20vh;
    height:                         80%;
    background:                     $white;
    overflow-y:                     scroll;
    .eu-cookie-compliance-container {
      margin:                     0 auto;
      max-width:                  $pageWidthDesk;
      width:                      100%;
      display:                    flex;
      justify-content:            space-between;
      flex-direction:             row;
      text-align:                 left;
      .eu-cookie-compliance-message {
        float:                      none;
        max-width:                  100%;
        padding-right:              $gridGutter;
        padding-bottom:             $gridGutter;
      }
      .eu-cookie-compliance-category {
        margin-bottom: $gridGutter;
        input {
          width: $pagePaddingPx;
          padding: 0;
          margin:0;
          vertical-align: middle;
          position: relative;
          top: -1px;
        }
        label {
          display: block;
        }
      }
      .eu-cookie-compliance-category-description {
        margin-bottom:    $gridGutter;
        margin-left:      10px;
      }
      .eu-cookie-compliance-buttons {
        .button {
          font-weight:                bold;
          width:                      100%;
        }
        float:                      none;
        min-width:                  360px;
        max-width:                  100%;
        @include media-query($breakpoint_phone) {
          min-width:                auto;
        }
      }
    }
    @include media-query($breakpoint_medium_max) {
      padding:            $pagePaddingPalmPx;
      .eu-cookie-compliance-container {
        display:                  block;
        .eu-cookie-compliance-message {
          display:                block;
          width:                  100%;
          padding-right:          0;
        }
        .button {
          display:                block;
          width:                  100%;
          max-width:              100%;
        }
      }
    }
  }
}
