$drupal-messages-namespace:               $namespace !default;

/* drupal messages container */

#{$drupal-messages-namespace}.system-messages {
    position:           relative;
    width:              100%;
    height:             auto;
    .messages:first-child {
        margin-top:    $pagePaddingPx/2;
    }
    .messages:last-child {
        margin-bottom: $pagePaddingPx/2;
    }
}

.content-wrapper-homepage {
    #{$drupal-messages-namespace}.system-messages {
        .messages:last-child {
            margin-bottom: $pagePaddingPx*1.5;
        }
    }
}