$embed-container-namespace:               $namespace !default;

/* video container (EMS/Befi) */

#{$embed-container-namespace}.embed-container {
    position:           relative;
    padding-bottom:     56.25%; /* ratio 16x9 */
    margin:             $gridGutter 0;
    height:             0;
    overflow:           hidden;
    width:              100%;
    height:             auto;
    iframe {
        position:       absolute;
        top:            0;
        left:           0;
        width:          100%;
        height:         100%;
    }
    &.ratio4x3 {
        padding-bottom: 75%;
    }
}
