$gallery-preview-namespace:              $namespace !default;

#{$gallery-preview-namespace}.gallery-preview {
    @include block--base();
    > h2,
    > h3 {
        @include block--base-headline();
        @include fontsize(21px);
        color:      $red;
    }
    @include getRem('margin-top', $blockBottomMarginPx);
    > ul > li::before {
        content:    "";
    }
}




