$homepage-heroimage-namespace:              $namespace !default;

#{$homepage-heroimage-namespace}.homepage-heroimage {
    position:               relative;
    margin-bottom:          $pagePaddingPx;
    @include media-query('palm') {
        margin-bottom:          $pagePaddingPalmPx;
    }
    display:                block;
    overflow:               hidden;
    z-index:                0;
    &:before {
        display: block;
        content: " ";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: transparent;
        background-image: linear-gradient(to bottom,rgba(0,0,0,0),rgba(0,0,0,.7));
        z-index:                1;
    }
    .image {
        width:              100%; // because of portrait images
        display:            block;
        margin:             0 auto; // center portait images
        overflow:           hidden;
        .image-placeholder {
            width: 100%;
            display: block;
            width: 100%;
        }
        img {
            display:        block;
            height:         auto;
        }
    }
    .source {
        display: none;
    }
    .body {
        bottom:             0;
        top:                auto;
        left:               0;
        right:              0;
        margin-left:        auto;
        margin-right:       auto;
        position:           absolute;
        z-index:            2;
        text-align:         center;
        padding:            0 $largeGapPx;
        max-width:          100%;
        background-color:   transparent;
        text-shadow:        1px 1px 4px rgba(0,0,0,0.4);
        height:     100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: column;
        .heading {
            color:          $white;
            margin:         0;
            font-size:      8vw;
            @include media-query('big-screen'){
                font-size:  80px;
            }
            line-height:    1.2;
            max-width:      1170px;
            a {
                color:      $white;
            }
        }
        .author {
            color:          $greyAuthor;
            font-size:      5vw;
            @include media-query('big-screen'){
                font-size:  40px;
            }
            line-height:    1.2;
            font-family:    'droid-sans', sans-serif, Arial;
        }
        .author a {
            color:          $blueAuthor;
        }
    }


}

