#{$namespace}.homepage-dosierteaser {
    background:                 transparent;
    @include media-query('lap-and-up') {
        background:             $white;
    }
    padding:                0;
    .grid__item > *:last-child {
        margin-bottom:      0;
    }
    .grid__item.one-third {
        padding:                $blockPaddingPx;
    }
    .teaser.teaser--poster {
        @include media-query('lap-and-up') {
            .heading {
                font-size:          3.5em;
                line-height:        1.2;
            }´
            .author {
                font-size:          1.5em;
            }
        }
    }
}