$homepage-heroimage-namespace: $namespace !default;
#{$homepage-heroimage-namespace}.homepage-heroimage {
    position: relative;
    margin-bottom: $pagePaddingPx;
    @include media-query($breakpoint_phone) {
        margin-bottom: $pagePaddingPalmPx;
    }
    display: block;
    overflow: hidden;
    z-index: 0;
    @media screen {
        &:before {
            display: block;
            content: " ";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: transparent;
            background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, .7));
            z-index: 1;
        }
    }
    .image {
        width: 100%; // because of portrait images
        display: block;
        margin: 0 auto; // center portait images
        img {
            display: block;
            height: auto;
        }
        @include media-query($breakpoint_phone) {
            height: 400px;
            overflow: hidden;
            img {
                max-width: unset;
                max-height: unset;
                position: absolute;
                height: 120%;
                width: auto;
                left: -18vw;
            }
        }
        @include media-query($breakpoint_smallest) {
            img {
                left: -50vw;
            }
        }
    }
    .source {
        display: none;
    }
    .body {
        bottom: 0;
        top: auto;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        position: absolute;
        z-index: 2;
        //text-align: center;
        //padding: 0 $largeGapPx;
        padding: 0 $pagePaddingPx;
        max-width: 100%;
        background-color: transparent;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        //align-items: center;
        flex-direction: column;
        @media screen {
            text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
        }
        .heading {
            color: $white;
            margin: 0;
            font-size: 8vw;
            line-height: 1.2;
            max-width: 1170px;
            margin-bottom: 20px;
            @include media-query($breakpoint_phone) {
                margin-bottom: 16px;
            }
            @include media-query($breakpoint_big) {
                font-size: 80px;
            }
            @include media-query(print) {
                color: $baseTextColor;
                font-size: 8vw;
            }
            a {
                color: $white;
            }
        }
        .author {
            color: $greyAuthor;
            font-size: 5vw;
            margin-bottom: 1em;
            @include media-query($breakpoint_phone) {
                font-size: 1.2em;
            }
            @include media-query($breakpoint_big) {
                font-size: 40px;
            }
            line-height: 1.2;
            font-family: $base-font-family
        }
        .author a {
            color: $blueAuthor;
        }
    }
}
