$issue-container-width:              400px;

article.node-type--story {
    .teaser--aktuelle-ausgabe {
        border:         1px solid $greyBorder;
        padding:        $largeGapPx;
        float:          left;
        background:     $white;
        width:          100%;
        @include media-query($breakpoint_smallest_and_up) {
            margin:         $largeGapPx 0;
        }
        @include media-query($breakpoint_medium) {
            margin:         $largeGapPx;
            margin-left:    0;
            width:          $issue-container-width;
        }
        @include media-query($breakpoint_big) {
            margin:         $largeGapPx;
            margin-left:    -$pagePaddingPx;
            width:          $issue-container-width;
        }
        @include media-query($breakpoint_large) {
            margin:         $largeGapPx $largeGapPx $largeGapPx (-$issue-container-width/2);
            width:          $issue-container-width;
        }
        .image {
            width:                      100%;
            margin-right:                0;
            img {
                border:                     1px solid $greyBorder;
            }
        }
    }
}
