$namespace:              $namespace !default;

#{$namespace}.profilehead {
    @include clearfix();
    margin-bottom:                  50px;
    .image {
        padding:                    0;
        text-align:                 center;
        @include media-query($breakpoint_medium) {
            max-width:                  190px;
            float:                      left;
            margin-right:               50px;
        }
        img {
            @include border-radius(100%);
            overflow:               hidden;
            margin:                 0 auto;
        }
        .source {
            display:                none !important;
        }
        .heading {
            font-size:              18px;
            line-height:            1.4;
            color:                  $baseTextColor;
            margin:                 20px 6px 14px 6px;
        }
    }

    .text {
        @include media-query($breakpoint_phone) {
            text-align:                 center;
            display:                    table;
        }
    }
}



