.teaser--socialmedia {
  display: flex;
  justify-content: space-around;
  a {
    &:hover {
      text-decoration: none;
    }
  }
  img {
    width: 40px;
    @include media-query($breakpoint_phone) {
      width: 60px;
    }
    @include media-query($breakpoint_medium) {
      width: 100px;
    }
    @include media-query($breakpoint_big) {
      width: 120px;
    }
  }
  &::after {
    display: none;
  }
}
