    {% extends "main.twig" %}

    {% set body_class = 'path-frontpage' %}

    {% block pagetitle %}{{ data.title }}{% endblock %}

    {% block content %}

    <main class="content-wrapper-homepage">
        {% if data.title %}
        <h1 class="{{ data.titleclass }}">{{ data.title }}</h1>
        {% endif %}
        {% if data.hero %}
        <div class="hero">
            {% for block in data.hero %}
            {% include block.pattername with { "data": block } %}
            {% endfor %}
        </div>
        {% endif %}
        <div class="grid">
            <div class="grid__item one-sixth">
            </div><!-- /grid__item -->

            <div class="grid__item four-sixths">
                {% for block in data.content %}
                    {% include block.pattername with { "data": block } %}
                {% endfor %}
            </div><!-- /grid__item -->

            <div class="grid__item one-sixth">
            </div><!-- /grid__item -->
        </div>
    </main>
    {% endblock %}
