    {% extends "main.twig" %}

    {% block pagetitle %}{{ article.title }}{% endblock %}
    
    {#% block breadcrumb %}{% endblock %#}
    
    {% block content %}
    
        

            <div class="grid content-wrapper-article">
<div class="grid__item two-tenths content-spacer"></div>
<!-- /grid__item -->
                <main class="grid__item six-tenths content-left">

           
                        <h1 class="heading--article">{{ article.title }}</h1>
                        {% for block in article.content %}
                            {% include block.pattername with { "data": block } %}
                        {% endfor %}
                


                </main><!-- /grid__item -->
                <!--
                
                -->
                <aside class="marginal_ grid__item two-tenths content-right">

                    {% for item in article.marginal %}
                        {#% include item.pattername with { "data": item } %#}
                    {% endfor %} 

                </aside><!-- /grid__item -->

            </div>

    



    {% endblock %}

