    {% extends "main.twig" %}

    {% block pagetitle %}{{ article.title }}{% endblock %}
    
    {#% block breadcrumb %}{% endblock %#}
    
    {% block content %}
    
        

            <div class="grid content-wrapper-article">
                <main class="grid__item eight-tenths content-left">

                    <div class="content-left__inner">
                        <h1 class="heading--article">{{ article.title }}</h1>
                        {% for block in article.content %}
                            {% include block.pattername with { "data": block } %}
                        {% endfor %}
                    </div>

                </main><!-- /grid__item -->
                <div class="grid__item two-tenths content-spacer">
                </div><!-- /grid__item -->
                <aside class="marginal grid__item two-tenths content-right">

                    {% for item in article.marginal %}
                        {% include item.pattername with { "data": item } %}
                    {% endfor %} 

                </aside><!-- /grid__item -->

            </div>

    



    {% endblock %}

