    {% extends "main.twig" %}

    {% block pagetitle %}{{ profil.title }}{% endblock %}
    
    {#% block breadcrumb %}{% endblock %#}
    
    {% block content %}
    
        

            <div class="grid content-wrapper-profil">
                <div class="grid__item eight-tenths content-left">
                    <div class="heading--profilcat">{{ profil.category|default('Herausgeberkreis')|raw }}</div>
                    <main class="content-left__inner">
                        {% if profil.title %}
                        <h1 class="heading--profil">{{ profil.title }}</h1>
                        {% endif %}
                        {% for block in profil.content %}
                            {% include block.pattername with { "data": block } %}
                        {% endfor %}
                    </main>

                    <footer class="page-wrapper__inner" id="footer">
                        {% block footer %}
                            {% include "organisms-footer" %}
                        {% endblock %}
                    </footer>

                </div><!-- /grid__item -->
                <div class="grid__item two-tenths content-spacer">
                </div><!-- /grid__item -->
                {% if profil.marginal %}
                <aside class="marginal grid__item two-tenths content-right">

                    {% for item in profil.marginal %}
                        {% include item.pattername with { "data": item } %}
                    {% endfor %} 

                </aside><!-- /grid__item -->
                {% else %}
                    <span class="grid__item two-tenths">
                    </span>
                {% endif %}
            </div>

    



    {% endblock %}

