{% extends "main.twig" %}

    {% block pagetitle %}{{ dossier.title }}{% endblock %}
    
    {#% block breadcrumb %}{% endblock %#}
    
    {% block content %}
    
            <div class="grid">
                <div class="grid__item">
                    <div class="heading--dossiercat">
                        <span class="text--red">Dossier</span>
                        {{ dossier.category|raw }}
                    </div>
                </div>
            </div>

            <main class="grid content-wrapper-article">
               
                <div class="grid__item two-tenths content-spacer"></div>
                <!-- /grid__item -->
                <div class="grid__item six-tenths content-left">
                    
                  
                        <h1 class="heading--article">{{ dossier.title }}</h1>
                        {% for block in dossier.content %}
                            {% include block.pattername with { "data": block } %}
                        {% endfor %}
                   
           
                </div><!-- /grid__item -->
                
                <aside class="marginal_ grid__item two-tenths content-right">

                    {% for item in dossier.marginal %}
                        {#% include item.pattername with { "data": item } %#}
                    {% endfor %} 

                </aside><!-- /grid__item -->

            </main>



    {% endblock %}

