{% extends "main.twig" %}

    {% block pagetitle %}{{ homepage.title }}{% endblock %}
    
    {% block breadcrumb %}
    {% endblock %}
    
    {% block content %}
    <main class="main-content">
        
        <h1 class="aural">{{ homepage.title }}</h1>
         
        

    </main>
    {% endblock %}
