<div class="table-responsive-wrapper"> 
    <table{{ data.tableClass ? (' class=\"' ~ data.tableClass ~ '\"')|raw }}>
        <thead>
            <tr>
                <th scope="col">Table Heading 1</th>
                <th scope="col">Table Heading 2</th>
                <th scope="col">Table Heading 3</th>
                <th scope="col">Table Heading 4</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td data-label="Table Heading 1">Table Cell 1</td>
                <td data-label="Table Heading 2">Table Cell 2</td>
                <td data-label="Table Heading 3">Table Cell 3</td>
                <td data-label="Table Heading 4">Table Cell 4</td>
            </tr>
            <tr>
                <td data-label="Table Heading 1">Table Cell 1</td>
                <td data-label="Table Heading 2">Table Cell 2</td>
                <td data-label="Table Heading 3">Table Cell 3</td>
                <td data-label="Table Heading 4">Table Cell 4</td>
            </tr>
            <tr>
                <td data-label="Table Heading 1">Table Cell 1</td>
                <td data-label="Table Heading 2">Table Cell 2</td>
                <td data-label="Table Heading 3">Table Cell 3</td>
                <td data-label="Table Heading 4">Table Cell 4</td>
            </tr>
            <tr>
                <td data-label="Table Heading 1">Table Cell 1</td>
                <td data-label="Table Heading 2">Table Cell 2</td>
                <td data-label="Table Heading 3">Table Cell 3</td>
                <td data-label="Table Heading 4">Table Cell 4</td>
            </tr>
        </tbody>
    </table>
</div>
