    <div class="page-wrapper" class="{{ globalTempStylingClass }} {{ pagetype }}">   
                    
            <header id="header">
                <div class="page-wrapper__inner">   
                    {% block global_header %}
                        {% include "organisms-header" %}
                    {% endblock %}
                    {% block navigation_primary %}
                        {% include "molecules-navigation-primary" %}
                    {% endblock %}
                </div>
            </header>
            
            <div class="page-wrapper__inner" id="main">   
            {% block content %}
                {#% block breadcrumb %}{% endblock %#}
            {% endblock %}
            </div>
            
     
    </div><!--/page-wrapper-->
