        <div class="page-wrapper" class="{{ globalTempStylingClass }} {{ pagetype }}">   
                    
            <header id="header">
                <div class="page-wrapper__inner">   
                    {% block global_header %}
                        {% include "organisms-header" %}
                    {% endblock %}
                </div>
            </header>
            
            <main  class="page-wrapper__inner">
                <div class="content-wrapper">
                    
                    <div class="grid">
                        <div class="grid__item one-third">
                            <h1>Styleguide</h1>
                            {% include "styleguide-tableofcontent" %}
                        </div>
                        <div class="grid__item  two-thirds">
                            {% block content %}
                                {% block breadcrumb %}
                                {% endblock %}
                            {% endblock %}
                        </div>
                    </div> 
                </div> 
            </main>
     
        </div><!--/page-wrapper-->


        <script>
            // we dont want js to change our code so lets add some entities
            $('code').each(function() {
                var escaped = $(this).html().replace(/&/g,'&amp;').replace(/</g,'&lt;').replace(/>/g,'&gt;');
                $(this).html(escaped);
            });
        </script>
        
