    <div class="page-wrapper" class="{{ globalTempStylingClass }} {{ pagetype }}">   
                    
            <header id="header">
                <div class="page-wrapper__inner">   
                    {% block global_header %}
                        {% include "organisms-header" %}
                    {% endblock %}
                    {#% block navigation_primary %}
                        {% include "molecules-navigation-primary-desk" %}
                        {% include "molecules-navigation-primary-palm" %}
                    {% endblock %#}
                </div>
            </header>
            
            {% block content %}
                {#% block breadcrumb %}
                {% endblock %#}
            {% endblock %}

            <footer class="page-wrapper__inner" id="footer">
                {% block footer %}
                    {% include "organisms-footer" %}
                {% endblock %}
            </footer>
     
    </div><!--/page-wrapper-->
