    {% if cookie_consent %}
    {% include "molecules-cookie-consent" %}
    {% endif %}
    <div class="page-wrapper{% if body_class %} {{ body_class }}{% endif %}">

        <header id="header">
            {% block global_header %}
                {% include "organisms-header" %}
            {% endblock %}
            {% block search %}
                {% include "molecules-search" %}
            {% endblock %}
        </header>
        {% block navigation_primary %}
            {% include "molecules-navigation-primary" %}
        {% endblock %}
        {% block content %}
            {#% block breadcrumb %}{% endblock %#}
        {% endblock %}

        <footer id="footer">
            {% block footer %}
                {% include "organisms-footer" %}
            {% endblock %}
        </footer>

    </div><!--/page-wrapper-->

{% include "molecules-promo-block" %}
