        <div class="page-wrapper" class="{{ globalTempStylingClass }} {{ pagetype }}">

            <header id="header">
                <div class="page-wrapper__inner">
                    {% block global_header %}
                        {% include "organisms-header" %}
                    {% endblock %}
                </div>
            </header>

            <main  class="page-wrapper__inner">
                <div class="content-wrapper-three-columns">
                    <div class="hero">
                        <h1 class="heading--pagecategory">Styleguide</h1>
                    </div>

                    {% include 'molecules-breadcrumb' with {"breadcrumb": [
                            {"title": "Ebene 2"},
                            {"title": "Ebene 3"}
                        ]} %}

                    <div class="grid">

                        <div class="grid__item two-tenths">
                            {% include "styleguide-tableofcontent" %}
                        </div>
                        <!-- /grid__item -->

                        <main class="grid__item six-tenths">
                            {% block content %}
                                {% block breadcrumb %}{% endblock %}
                            {% endblock %}
                        </main>
                        <!-- /grid__item -->

                        <div class="grid__item two-tenths">
                        </div>
                        <!-- /grid__item -->

                    </div>
                </div>
            </main>

        </div><!--/page-wrapper-->


        <script>
            // we dont want js to change our code so lets add some entities
            $('code').each(function() {
                var escaped = $(this).html().replace(/&/g,'&amp;').replace(/</g,'&lt;').replace(/>/g,'&gt;');
                $(this).html(escaped);
            });
        </script>

