    <div class="page-wrapper" class="{{ globalTempStylingClass }}">   
                    
            <header id="header">
                <div class="page-wrapper__inner">   
                    {% block global_header %}
                        {% include "organisms-header" %}
                    {% endblock %}
                    {#% block navigation_primary %}
                        {% include "molecules-navigation-primary-desk" %}
                        {% include "molecules-navigation-primary-palm" %}
                    {% endblock %#}
                </div>
            </header>
            
            <main id="main-content">
                <div class="page-wrapper__inner">  
                    {% block content %}
                        {#% block breadcrumb %}
                        {% endblock %#}
                    {% endblock %}
                </div>
            </main>

            {#
            <footer id="footer">
                <div class="page-wrapper__inner">  
                    {% block global_footer %}
                        {% include "organisms-footer" %}
                    {% endblock %}
                </div>
            </footer>
            #}

    </div><!--/page-wrapper-->
