
        <div id="page-wrapper" class="echo styleguide">
        <!-- display ad pos : superbanner -->
        <div class="pw-inner">            
            <header id="header">
            {% block global_header %}
                {% include "organisms-header" with {hideAside: true} %}
            {% endblock %}
            </header>
            <!-- display ad position : billboard -->
            <main id="content-wrapper">
                <h1>Styleguide</h1>
                <div class="grid">
                    <div class="grid__item one-third">
                        {% include "styleguide-tableofcontent" %}
                    </div>
                    <div class="grid__item  two-thirds">
                        {% block content %}
                            {% block breadcrumb %}
                            {% endblock %}
                        {% endblock %}
                    </div>
                </div> 
                
            </main>
        </div>
        <!-- display ad position : skyscaper -->
        </div><!--/page-wrapper-->
        <!-- display ad position : out of page -->
        
        <script>
            // we dont want js to change our code so lets add some entities
            $('code').each(function() {
                var escaped = $(this).html().replace(/&/g,'&amp;').replace(/</g,'&lt;').replace(/>/g,'&gt;');
                $(this).html(escaped);
            });
        </script>
        
