<h2{{ data.class?  (' class="'~data.class~'"')|raw }}>
{{ (data.targetPage)? ('  <a href="'~data.targetPage~'">')|raw  }}
    {{ data.text|default('Heading 2') }}
{{ (data.targetPage)? '  </a>'}}
</h2>
