<a href="#" class="button button--addtocart">
  <span class="text">{{ data.text|default('In den Einkaufwagen') }}</span>
  <span class="price">{{ data.price|default('7,00 €') }}</span>
  <i class="fa fa-shopping-cart" aria-hidden="true"></i>
</a>
