<a class="button button--buy" href="#">
  {{ data.text|default('Kaufen Button') }}
  <span class="right">
    {{ data.text_right }} <i class="fa fa-shopping-cart" aria-hidden="true"></i>
  </span>
</a>
