<div class="article-mainimage js-articleimage-add-blur">
    <img src="{{ data.imageurl? data.imageurl : '../../images/sample/dummy_4x3_300.jpg' }}" alt="Bildbeschreibung" />     
    <p class="source">© dpa</p>
</div>  
