// Our Wrapper around the main content area between header and footer
$content-wrapper-namespace:              $namespace !default;

#{$content-wrapper-namespace}#content-wrapper,
#content-wrapper#{$content-wrapper-namespace} {
    @include clearfix();
    padding:        0;
    margin-top:     $gridGutter;
    @include getRem('padding-left', $pagePaddingPalmPx);
    @include getRem('padding-right', $pagePaddingPalmPx);
    @include getRem('margin-bottom', 55px);
}

@include media-query(lap-and-up) {
    #{$content-wrapper-namespace}#content-wrapper,
    #content-wrapper#{$content-wrapper-namespace} {
        @include getRem('padding-left', $pagePaddingPx);
        @include getRem('padding-right', $pagePaddingPx);
    } 
}

@include media-query('palm') {
    // we dont have the echo class on this element while rebrushing
    #content-wrapper.hide {
        display:    none;
    }
    #content-wrapper .main-content {
        @include getRem('margin-bottom', 55px);
    }
}
