$easypopup-namespace:           $namespace !default;

#{$easypopup-namespace}.js-easypopup {
    position:       relative;
    z-index:        auto;
    .js-easypopup__toggler {
        cursor:         pointer;
    }
    .js-easypopup__content {
        display:                none;
        position:               absolute;
        z-index:                1;
        max-width:              90vw;
        box-shadow:             0 0 5px rgba(0, 0, 0, 0.4);
        @include getRem('padding', $easyPopupPaddingPx);
        background-color:               $grey;
        border:                         1px solid $greyBorder; // Barrierefreiheit 
        form {
            background:                 transparent;
            padding:                    0;
        }
    }
    .js-easypopup__close {
        position:       absolute;
        top:            0.5em;
        right:          0.5em;
        
    }
    &.opened {
        .js-easypopup__content {
            display:    block;
        }
    }
}
