@import 'font-awesome/scss/_variables.scss';
$fa-font-path: "../node_modules/font-awesome/fonts";
@import "font-awesome/scss/font-awesome.scss";

/* droid-sans-400normal - latin */

@font-face {
    font-family: 'droid-sans';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: local('Droid Sans Regular '), local('Droid Sans-Regular'), url('../source/fonts/droid-sans-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('../source/fonts/droid-sans-latin-400.woff') format('woff');
    /* Modern Browsers */
}


/* droid-sans-700normal - latin */

@font-face {
    font-family: 'droid-sans';
    font-style: normal;
    font-display: swap;
    font-weight: 700;
    src: local('Droid Sans Bold '), local('Droid Sans-Bold'), url('../source/fonts/droid-sans-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('../source/fonts/droid-sans-latin-700.woff') format('woff');
    /* Modern Browsers */
}


/* droid-serif-400normal - latin */

@font-face {
    font-family: 'droid-serif';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: local('Droid Serif Regular '), local('Droid Serif-Regular'), url('../source/fonts/droid-serif-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('../source/fonts/droid-serif-latin-400.woff') format('woff');
    /* Modern Browsers */
}


/* droid-serif-400italic - latin */

@font-face {
    font-family: 'droid-serif';
    font-style: italic;
    font-display: swap;
    font-weight: 400;
    src: local('Droid Serif Regular italic'), local('Droid Serif-Regularitalic'), url('../source/fonts/droid-serif-latin-400italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('../source/fonts/droid-serif-latin-400italic.woff') format('woff');
    /* Modern Browsers */
}


/* droid-serif-700normal - latin */

@font-face {
    font-family: 'droid-serif';
    font-style: normal;
    font-display: swap;
    font-weight: 700;
    src: local('Droid Serif Bold '), local('Droid Serif-Bold'), url('../source/fonts/droid-serif-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('../source/fonts/droid-serif-latin-700.woff') format('woff');
    /* Modern Browsers */
}


/* droid-serif-700italic - latin */

@font-face {
    font-family: 'droid-serif';
    font-style: italic;
    font-display: swap;
    font-weight: 700;
    src: local('Droid Serif Bold italic'), local('Droid Serif-Bolditalic'), url('../source/fonts/droid-serif-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('../source/fonts/droid-serif-latin-700italic.woff') format('woff');
    /* Modern Browsers */
}


@font-face {
    font-family: 'playfair';
    src: url('../source/fonts/playfair-display-regular.woff2') format('woff2'),
        url('../source/fonts/playfair-display-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'playfair';
    src: url('../source/fonts/playfair-display-italic.woff2') format('woff2'),
        url('../source/fonts/playfair-display-italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'playfair';
    src: url('../source/fonts/playfair-display-italic.woff2') format('woff2'),
        url('../source/fonts/playfair-display-italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'playfair';
    src: url('../source/fonts/playfair-display-bold.woff2') format('woff2'),
        url('../source/fonts/playfair-display-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'playfair';
    src: url('../source/fonts/playfair-display-bold-italic.woff2') format('woff2'),
        url('../source/fonts/playfair-display-bold-italic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'playfair';
    src: url('../source/fonts/playfair-display-black-italic.woff2') format('woff2'),
        url('../source/fonts/playfair-display-black-italic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'playfair';
    src: url('../source/fonts/playfair-display-black-italic.woff2') format('woff2'),
        url('../source/fonts/playfair-display-black-italic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'playfair';
    src: url('../source/fonts/playfair-display-black.woff2') format('woff2'),
        url('../source/fonts/playfair-display-black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'playfair';
    src: url('../source/fonts/playfair-display-black.woff2') format('woff2'),
        url('../source/fonts/playfair-display-black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'playfair';
    src: url('../source/fonts/playfair-display-bold-italic.woff2') format('woff2'),
        url('../source/fonts/playfair-display-bold-italic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'playfair';
    src: url('../source/fonts/playfair-display-bold.woff2') format('woff2'),
        url('../source/fonts/playfair-display-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'playfair';
    src: url('../source/fonts/playfair-display-regular.woff2') format('woff2'),
        url('../source/fonts/playfair-display-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

