#{$namespace}.display-block {
    display:                block;
}
#{$namespace}.display-none {
    display:                none;
}


#{$namespace}.text--red {
    color:                  $red;
}
#{$namespace}.text--black {
    color:                  $black;
}

#{$namespace}.text--big {
    font-size:              1.2em;
}