#{$namespace}.display-block {
    display:                block;
}
#{$namespace}.display-none {
    display:                none;
}


#{$namespace}.text--red {
    color:                  $red;
}
#{$namespace}.text--black {
    color:                  $black;
}

#{$namespace}.text--big {
    font-size:              $bigFontSizePx;
    line-height:            1.7em;
}

.visually-hidden {
    position: absolute !important;
    clip: rect(1px,1px,1px,1px);
    overflow: hidden;
    height: 1px;
    width: 1px;
    word-wrap: normal;
}