#{$namespace}.marginal {
    background-color:               $greyBgMarginal;
    padding:                        $blockPaddingPx;
     > *:first-child {
        margin-top:                 0;
     }
     @include media-query($breakpoint_phone) {
         display:                   none;
    }
}
