#{$namespace}.marginal {
    background-color:               $greyBgMarginal;
    padding:                        $blockPaddingPx;
     > *:first-child {
        margin-top:                 0;
     }
}
