// Our Wrapper around the whole site

$page-wrapper-namespace:           $namespace !default;
$content-wrapper-namespace:              $namespace !default;


.page-wrapper {
    background-color:   $page-background-color;
    position:           relative;
    @include media-query(palm) {
        width:          100%;
        margin:         0;
    }
    @include media-query(lap-and-up) {
        width:              100%;
        max-width:          $pageWidthDesk;
        margin:             0 auto;
    }
    .hero {
       min-height:          2.7em;
    }
    &.fixed > main {
        padding-top:        90px;
    }
    &.fixed > #navigation-primary {
        .navigation-wrapper {
            padding-top:    80px;
        }
    }
}

#{$content-wrapper-namespace}.content-wrapper-homepage {
    padding:            $blockPaddingPx $pagePaddingPx;
    background-color:   $grey;
    margin-bottom:      5em;
    .hero {
        margin-top:     -$blockPaddingPx;
        margin-left:    -$pagePaddingPx;
        margin-right:   -$pagePaddingPx;
    }
    @include media-query(palm) {
        padding:        $blockPaddingPx $pagePaddingPalmPx;
        .hero {
            margin-left:    -$pagePaddingPalmPx;
            margin-right:   -$pagePaddingPalmPx;
        }
    }
}

#{$content-wrapper-namespace}.content-wrapper-three-columns {
    padding:            $blockPaddingPx $pagePaddingPx;
    background-color:   $grey;
    margin-bottom:      5em;
    @include media-query(palm) {
        padding:        $blockPaddingPx $pagePaddingPalmPx;
    }
}

#{$content-wrapper-namespace}.content-wrapper-full-width {
    padding:            $blockPaddingPx $pagePaddingPx;
    background-color:   $grey;
    margin-bottom:      5em;
    @include media-query(palm) {
        padding:        $blockPaddingPx $pagePaddingPalmPx;
    }
}
