// Our Wrapper around the whole site

$page-wrapper-namespace:           $namespace !default;

#page-wrapper {
    @include clearfix();
    border:             0px solid;
    position:           relative;
    width:              100%;
    @media print {
         width:         auto;
         box-shadow:    none;
    }
}

// Our Wrapper around the main page sections to maximize withs

.page-wrapper__inner {
    //@include box-shadow(0px, 0px, 10px, 0px, rgba(100, 100, 100, 0.2));
    background:         transparent;
    position:           relative;
    //border:             1px dotted red;
    @include media-query(palm) {
        width:          100%;
        margin:         0;   
    }
    @include media-query(lap-and-up) { 
        width:              100%;
        max-width:          $pageWidthDesk;
        margin:             0 auto;
    }
    
}




// Our Wrapper around the main content area between header and footer
$content-wrapper-namespace:              $namespace !default;

#{$content-wrapper-namespace}.content-wrapper {
    @include clearfix();
    //border:             1px dotted blue;
    padding:        0;
    @include media-query(palm) {
        width:          100%;
        margin:         0;   
        &.hide {
            display:    none;
        }
    }
    @include media-query(lap-and-up) { 
        width:          $contentWidthDeskPx;
        max-width:      100%;
        margin:         0 auto;
	}
   
}

#{$content-wrapper-namespace}.content-wrapper--article {
    margin-top:             1em;
    @include media-query(lap-and-up) { 
        width:              100%;
        max-width:          $contentWidthDeskArticlePx;
        margin:             2em 0 0 auto;
        > .grid {
            flex-wrap:      nowrap;
            > .two-fourths,
            > .one-half {
                flex-grow: 1;
                flex-shrink: 1;
            }
            > .spacer {
                flex-grow: 1;
                flex-shrink: 1;
                width: auto;
                max-width: 180px;
            }
            > .one-fourth {
                flex-grow: 0;
                flex-shrink: 0;
                min-width: 320px;
            }
        }
        .main {
            //padding-right:  160px;
            padding-left:  $pagePaddingPx;
        }
        .marginal {
    
        }
    }
    @include media-query(palm) { 
        padding:  0 $pagePaddingPalmPx;
    }
}