$responsive-tools-namespace:           $namespace !default;

// Some simple responsive helper classes

@include media-query($breakpoint_medium) {
    #{$responsive-tools-namespace}.desk-hide {
        display:    none !important;
    }
    #{$responsive-tools-namespace}.palm-show {
        display:    none !important;
    }
}

@include media-query($breakpoint_medium) {
    #{$responsive-tools-namespace}.palm-show {
        display:    none !important;
    }
}

@include media-query($breakpoint_phone) {
    #{$responsive-tools-namespace}.palm-hide {
        display:    none !important;
    }
    #{$responsive-tools-namespace}.palm-show {
        display:    inline-block !important;
    }
}

@include media-query($breakpoint_smallest) {
    #{$responsive-tools-namespace}.smallest-hide {
        display:    none !important;
    }
    #{$responsive-tools-namespace}.smallest-show {
        display:    inline-block !important;
    }
}
