<div class="swiper archive-index">  
    <button class="swiper-button-prev" aria-label="Rückwärts"><i class="fa fa-chevron-left" aria-hidden="true"></i></button>
    <button class="swiper-button-next" aria-label="Vorwärts"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
    <div class="swiper-wrapper view-content">
        <span class="swiper-slide views-summary views-summary-unformatted">
            <a href="#">2019</a>
        </span>
        <span class="swiper-slide views-summary views-summary-unformatted">
            <a href="#" class="is-active">2018</a>
            </span>
        <span class="swiper-slide views-summary views-summary-unformatted">
            <a href="#">2017</a>
            </span>
        <span class="swiper-slide views-summary views-summary-unformatted">
            <a href="#">2016</a>
            </span>
        <span class="swiper-slide views-summary views-summary-unformatted">
            <a href="#">2015</a>
            </span>
        <span class="swiper-slide views-summary views-summary-unformatted">
            <a href="#">2014</a>
            </span>
        <span class="swiper-slide views-summary views-summary-unformatted">
            <a href="#">2013</a>
            </span>
        <span class="swiper-slide views-summary views-summary-unformatted">
            <a href="#">2012</a>
            </span>
        <span class="swiper-slide views-summary views-summary-unformatted">
            <a href="#">2011</a>
            </span>
        <span class="swiper-slide views-summary views-summary-unformatted">
            <a href="#">2010</a>
            </span>
        <span class="swiper-slide views-summary views-summary-unformatted">
            <a href="#2009">2009</a>
            </span>
        <span class="swiper-slide views-summary views-summary-unformatted">
            <a href="#2008">2008</a>
            </span>
        <span class="swiper-slide views-summary views-summary-unformatted">
            <a href="#2007">2007</a>
            </span>
        <span class="swiper-slide views-summary views-summary-unformatted">
            <a href="#2006">2006</a>
            </span>
        <span class="swiper-slide views-summary views-summary-unformatted">
            <a href="#2005">2005</a>
            </span>
        <span class="swiper-slide views-summary views-summary-unformatted">
            <a href="#2004">2004</a>
            </span>
        <span class="swiper-slide views-summary views-summary-unformatted">
            <a href="#2003">2003</a>
            </span>
        <span class="swiper-slide views-summary views-summary-unformatted">
            <a href="#2002">2002</a>
            </span>
        <span class="swiper-slide views-summary views-summary-unformatted">
            <a href="#2001">2001</a>
            </span>
        <span class="swiper-slide views-summary views-summary-unformatted">
            <a href="#2000">2000</a>
            </span>
        <span class="swiper-slide views-summary views-summary-unformatted">
            <a href="#1999">1999</a>
            </span>
        <span class="swiper-slide views-summary views-summary-unformatted">
            <a href="#1998">1998</a>
            </span>
        <span class="swiper-slide views-summary views-summary-unformatted">
            <a href="#1997">1997</a>
            </span>
        <span class="swiper-slide views-summary views-summary-unformatted">
            <a href="#1996">1996</a>
            </span>
        <span class="swiper-slide views-summary views-summary-unformatted">
            <a href="#1995">1995</a>
            </span>
        <span class="swiper-slide views-summary views-summary-unformatted">
            <a href="#1994">1994</a>
            </span>
        <span class="swiper-slide views-summary views-summary-unformatted">
            <a href="#1993">1993</a>
            </span>
        <span class="swiper-slide views-summary views-summary-unformatted">
            <a href="#1992">1992</a>
            </span>
        <span class="swiper-slide views-summary views-summary-unformatted">
            <a href="#1991">1991</a>
            </span>
        <span class="swiper-slide views-summary views-summary-unformatted">
            <a href="#1990">1990</a>
            </span>
        <span class="swiper-slide views-summary views-summary-unformatted">
            <a href="#1989">1989</a>
            </span>
        <span class="swiper-slide views-summary views-summary-unformatted">
            <a href="#1988">1988</a>
            </span>
        <span class="swiper-slide views-summary views-summary-unformatted">
            <a href="#1987">1987</a>
            </span>
        <span class="swiper-slide views-summary views-summary-unformatted">
            <a href="#1986">1986</a>
            </span>
        <span class="swiper-slide views-summary views-summary-unformatted">
            <a href="#1985">1985</a>
            </span>
        <span class="swiper-slide views-summary views-summary-unformatted">
            <a href="#1984">1984</a>
            </span>
        <span class="swiper-slide views-summary views-summary-unformatted">
            <a href="#1983">1983</a>
            </span>
        <span class="swiper-slide views-summary views-summary-unformatted">
            <a href="#1982">1982</a>
            </span>
        <span class="swiper-slide views-summary views-summary-unformatted">
            <a href="#1981">1981</a>
            </span>
        <span class="swiper-slide views-summary views-summary-unformatted">
            <a href="#1980">1980</a>
            </span>
        <span class="swiper-slide views-summary views-summary-unformatted">
            <a href="#1979">1979</a>
            </span>
        <span class="swiper-slide views-summary views-summary-unformatted">
            <a href="#1978">1978</a>
            </span>
        <span class="swiper-slide views-summary views-summary-unformatted">
            <a href="#1977">1977</a>
            </span>
        <span class="swiper-slide views-summary views-summary-unformatted">
            <a href="#1976">1976</a>
            </span>
        <span class="swiper-slide views-summary views-summary-unformatted">
            <a href="#1975">1975</a>
            </span>
        <span class="swiper-slide views-summary views-summary-unformatted">
            <a href="#1974">1974</a>
            </span>
        <span class="swiper-slide views-summary views-summary-unformatted">
            <a href="#1973">1973</a>
            </span>
        <span class="swiper-slide views-summary views-summary-unformatted">
            <a href="#1972">1972</a>
            </span>
        <span class="swiper-slide views-summary views-summary-unformatted">
            <a href="#1971">1971</a>
            </span>
        <span class="swiper-slide views-summary views-summary-unformatted">
            <a href="#1970">1970</a>
            </span>
        <span class="swiper-slide views-summary views-summary-unformatted">
            <a href="#1969">1969</a>
            </span>
        <span class="swiper-slide views-summary views-summary-unformatted">
            <a href="#1968">1968</a>
            </span>
        <span class="swiper-slide views-summary views-summary-unformatted">
            <a href="#1967">1967</a>
            </span>
        <span class="swiper-slide views-summary views-summary-unformatted">
            <a href="#1966">1966</a>
            </span>
        <span class="swiper-slide views-summary views-summary-unformatted">
            <a href="#1965">1965</a>
            </span>
        <span class="swiper-slide views-summary views-summary-unformatted">
            <a href="#1964">1964</a>
            </span>
        <span class="swiper-slide views-summary views-summary-unformatted">
            <a href="#1963">1963</a>
            </span>
        <span class="swiper-slide views-summary views-summary-unformatted">
            <a href="#1962">1962</a>
            </span>
        <span class="swiper-slide views-summary views-summary-unformatted">
            <a href="#1961">1961</a>
            </span>
        <span class="swiper-slide views-summary views-summary-unformatted">
            <a href="#1960">1960</a>
            </span>
        <span class="swiper-slide views-summary views-summary-unformatted">
            <a href="#1959">1959</a>
            </span>
        <span class="swiper-slide views-summary views-summary-unformatted">
            <a href="#1958">1958</a>
            </span>
        <span class="swiper-slide views-summary views-summary-unformatted">
            <a href="#1957">1957</a>
            </span>
        <span class="swiper-slide views-summary views-summary-unformatted">
            <a href="#1956">1956</a>
            </span>

    </div>
  
</div>