<div class="node__links">
    <ul class="links inline">
        <li class="book-printer">
            <a href="#" title="Druckversion dieser Buchseite und aller Unterseiten anzeigen.">Druckversion</a>
        </li>
        <li class="downloadlink">
            <a href="#" title="Sackgasse EU-Verfassung als PDF-Datei herunterladen.">herunterladen</a>
        </li>
    </ul>
</div>