<div class="contextual-region" id="block-palm-local-tasks">
    <nav aria-label="Tabs" class="tabs" role="navigation">
        <h2 class="visually-hidden">Primary tabs</h2>
        <ul class="tabs primary">
            <li class="is-active">
                <a class="is-active" data-drupal-link-system-path="node/28707" href="/ausgabe/2018/dezember/wo-bleibt-die-proeuropaeische-linke">Ansicht<span class="visually-hidden">(aktiver Reiter)</span>
                </a>
            </li>
            <li>
                <a data-drupal-link-system-path="node/28707/edit" href="/node/28707/edit">Bearbeiten</a>
            </li>
            <li>
                <a data-drupal-link-system-path="node/28707/outline" href="/node/28707/outline">Gliederung</a>
            </li>
            <li>
                <a data-drupal-link-system-path="node/28707/delete" href="/node/28707/delete">Löschen</a>
            </li>
        </ul>
    </nav>
</div>