<nav aria-labelledby="book-label-12123" class="book-navigation" id="book-navigation-12123" role="navigation">
    <h2 class="heading--sectiontitle" id="book-label-12123">Links für das Blättern im Buch Juli 2004</h2>
    <ul class="book-pager">
        <li class="book-pager__item book-pager__item--previous">
            <a href="/ausgabe/2004/juli" rel="prev" title="Zur vorherigen Seite">
                <b>‹</b>
                Juli 2004</a>
        </li>
        <li class="book-pager__item book-pager__item--next">
            <a href="/ausgabe/2004/juli/sudan-zwischen-arabien-und-afrika" rel="next" title="Zur nächsten Seite">Sudan zwischen Arabien und Afrika
                <b>›</b>
            </a>
        </li>
    </ul>
</nav>