<ul class="book-pager">
    <li class="book-pager__item book-pager__item--previous">
        <a href="#" rel="prev" title="Zur vorherigen Seite"><b>‹</b> Oktober 2018</a>
    </li>
    <li class="book-pager__item book-pager__item--center">
        <a href="#" title="Gehe zur übergeordneten Seite">Nach oben</a>
    </li>
    <li class="book-pager__item book-pager__item--next">
        <a href="#" rel="next" title="Zur nächsten Seite">Folgenloses Erschrecken: Sachsen als Exempel <b>›</b></a>
    </li>
</ul>