<div id="navigation-primary">
    <nav role="navigation" aria-labelledby="block-usermenuloggedin-menu" class="block block-menu navigation">     
      <h2 class="visually-hidden" id="block-usermenuloggedin-menu">User Menu Logged in</h2>
      <div class="meta">
        <a href="#"><i class="fa fa-user" aria-hidden="true"></i> Anmelden</a>
        <a href="#"><i class="fa fa-pencil" aria-hidden="true"></i> Registrieren</a>
      </div>
    </nav>

    <h6 class="aural">Suche</h6>
    <form class="form--navigationsearch">
      <i class="fa fa-search searchicon" aria-hidden="true"></i>
      <input class="searchtext" type="text" name="q" value="" />
      <button class="submit" type="submit">Suche</button>
    </form>
    
    <h6 class="aural">Hauptnavigation</h6>
    <!-- Primary Navigation Start-->
    <ul class="menu">
      <li class="menu-item menu-item--expanded menu-item--active-trail">
        <a href="#">Blätter</a>
        <ul class="menu">
          <li class="menu-item menu-item--active-trail">
            <a href="#" class="is-active">Artikel</a>
          </li>
          <li class="menu-item">
            <a href="#">Ausgaben</a>
          </li>
          <li class="menu-item">
            <a href="#">Dokumente</a>
          </li>
          <li class="menu-item">
            <a href="#">Dossiers</a>
          </li>
          <li class="menu-item">
            <a href="#">Produkte</a>
          </li>
          <li class="menu-item">
            <a href="#">Prämien</a>
          </li>
          <li class="menu-item">
            <a href="#">Seiten</a>
          </li>
          <li class="menu-item">
            <a href="#">Zurückgeblättert</a>
          </li>
        </ul>
      </li>
      <li class="menu-item menu-item--collapsed">
        <a href="#">Blätter 2</a>
        <ul class="menu">
          <li class="menu-item">
            <a href="#">bla</a>
          </li>
          <li class="menu-item">
            <a href="#">blubb</a>
          </li>
        </ul>
      </li>
      <li class="menu-item menu-item--collapsed">
        <a href="#">Blätter 3</a>
        <ul class="menu">
          <li class="menu-item">
            <a href="#">bla</a>
          </li>
          <li class="menu-item">
            <a href="#">blubb</a>
          </li>
        </ul>
      </li>
    </ul>
    <!-- /Primary Navigation End-->
  
</div>
