<div id="navigation-primary">
  <div class="navigation-wrapper">
    <nav aria-labelledby="block-usermenuloggedin-menu" class="contextual-region block block-menu navigation menu--user-menu-logged-in" id="block-usermenuloggedin" role="navigation">
        <h2 class="visually-hidden" id="block-usermenuloggedin-menu">User Menu Logged in</h2>
        <div class="meta">
            <a href="/user"><i area-hidden="true" class="fa fa-user"></i>Mein Konto</a>
            <a href="/user/logout"><i area-hidden="true" class="fa fa-sign-out"></i>Logout</a>
        </div>
    </nav>
    <nav aria-labelledby="block-palm-navigation-menu" class="contextual-region block block-menu navigation menu--navigation" id="block-palm-navigation" role="navigation">
        <h2 class="visually-hidden" id="block-palm-navigation-menu">Navigation</h2>
        <ul class="menu">
            <li class="menu-item menu-item--expanded">
                <a href="#">Aktuelle Ausgabe</a>
            </li>
            <li class="menu-item menu-item--expanded">
                <a data-drupal-link-system-path="ausgabe/2019" href="#">Archiv</a>
            </li>
            <li class="menu-item menu-item--expanded">
                <a data-drupal-link-system-path="shop" href="#">Bestellen</a>
                <ul class="menu">
                    <li class="menu-item menu-item--expanded">
                        <a data-drupal-link-system-path="shop/kennenlernen" href="#">Kennenlernen</a>
                    </li>
                    <li class="menu-item menu-item--expanded">
                        <a data-drupal-link-system-path="shop/abonnieren" href="#">Abonnieren</a>
                    </li>
                    <li class="menu-item menu-item--expanded">
                        <a data-drupal-link-system-path="shop/verschenken" href="#">Verschenken</a>
                    </li>
                    <li class="menu-item menu-item--expanded">
                        <a data-drupal-link-system-path="shop/einzelausgaben" href="#">Einzelausgaben</a>
                    </li>
                    <li class="menu-item menu-item--expanded">
                        <a data-drupal-link-system-path="shop/edition" href="#">EditionBlätter</a>
                    </li>
                </ul>

            </li>
            <li class="menu-item menu-item--expanded">
                <a data-drupal-link-system-path="dossiers" href="#">Dossiers</a>
            </li>
            <li class="menu-item menu-item--expanded">
                <a href="#">Democracy Lecture</a>
            </li>
            <li class="menu-item menu-item--expanded">
                <a href="#">Über die Blätter</a>
                <ul class="menu">
                    <li class="menu-item menu-item--expanded">
                        <a data-drupal-link-system-path="herausgeberkreis" href="#" title="Alle Herausgeberinnen und Herausgeber der Blätter">Herausgeberkreis</a>
                    </li>
                    <li class="menu-item menu-item--expanded">
                        <a data-drupal-link-system-path="redaktion" href="#" title="Alle Redakteurinnen und Redakteure der Blätter">Redaktion</a>
                    </li>
                    <li class="menu-item menu-item--expanded">
                        <a href="#">Autorinnen und Autoren</a>
                    </li>
                </ul>

            </li>
            <li class="menu-item menu-item--expanded">
                <a href="#">Service</a>
            </li>
            <li class="menu-item menu-item--expanded">
                <a href="#">Kontakt</a>
            </li>
        </ul>
    </nav>
  </div>
</div>
