<div id="block-palm-local-tasks">
    <nav class="tabs" role="navigation" aria-label="Tabs">
        <h2 class="visually-hidden">Primary tabs</h2>
        <ul class="tabs primary"><li><a href="#" data-drupal-link-system-path="user/603">Ansicht</a></li>
            <li class="is-active"><a href="#" data-drupal-link-system-path="user/603/edit" class="is-active">Bearbeiten<span class="visually-hidden">(aktiver Reiter)</span></a></li>
            <li><a href="#" data-drupal-link-system-path="user/603/bestellungen">Bestellungen</a></li>
        </ul>
    </nav>
</div>