<div id="page-search">
    <h6 class="aural">Suche</h6>
    <form class="form--navigationsearch">
        <i aria-hidden="true" class="fa fa-search searchicon"></i>
        <input class="searchtext" name="q" type="text" value="" placeholder="blaetter.de durchsuchen" />
        <button class="submit" type="submit">Suche</button>
    </form>
</div>
