#block-palm-local-tasks {
    .tabs {
        margin-top:             0;
        @include media-query('lap-and-up') {
            margin-top:         0.75em;
        }
        &.primary {
            padding:            0;
            @include media-query('lap-and-up') {
                margin-left:        -$pagePaddingPx;
            }
            a {
                @include media-query('lap-and-up') {
                    padding:        0.5em 1em 0.5em $pagePaddingPx;
                }
                padding:        0.5em 1em;
                display:        block;
            }
        }
        li {
            margin:             0;
        }
    }
}