
.book-navigation {
    display:            none;
    @include media-query($breakpoint_medium) {
        display:        block;
    }
    .book-pager {
        display:                flex;
        justify-content:        space-between;
        align-items:            flex-start;
        padding:                0;
        margin:                 0;
        margin-top:             $gridGutter;
        .book-pager__item {
            display:        inline-block;
            list-style-type:none;
            vertical-align: top;
            float:          none;
        }
        .book-pager__item--previous,
        .book-pager__item--next {
            width:          auto;
        }
        .book-pager__item--previous {
            text-align:     left;
        }
        .book-pager__item--center {
            text-align:     center;
            margin:         0 2em;
            //white-space:    nowrap;
        }
        .book-pager__item--next {

            text-align:     right;

        }
    }
}