/* Language dropdown inside our global page header */

$language-select-namespace:              $namespace !default;

#{$language-select-namespace}.language-select {
    position:               relative; 
    text-align:             right;
    height:                 auto;
    .toggler {
        /*line-height:        0.8; // not here! */
        vertical-align:     initial;
        &::after {
            content:            "\f078";
            font-family:        FontAwesome;
            display:            inline-block;
            color:              $blue;
            text-decoration:    underline; // IE10 fix 
        }
        &:after,
        &:hover:after {
            text-decoration:    none; // IE10 fix
        }
        .lang-icon {
            min-width:          auto;
            text-transform:     uppercase;
            margin:             0 0.5em 0 0.7em;
        }
    }
    .active {
        font-weight:            bold;
    }
    ul {
        display:                        none;
        text-align:                     right;
        //@include list--no-arrows();
        list-style:                     0;
        position:                       absolute;
        top:                            1.8em;
        right:                          -0.5em;
        padding:                        0;
        background-color:               $white;
        z-index:                        2000000;
        @include box-shadow(0px, 1px, 3px, 0px, rgba(0,0,0,0.5));
        li {
            white-space:                nowrap;
            margin:                     0;
            list-style:					none;
        }
        a {
            padding:                    5px 18px;
            display:                    block;
        }
        .lang-icon {
            margin-left:                    0.8em;
            display:                        inline-block;
            min-width:                      2.2em;
            text-align:                     left;
            text-transform:                 uppercase;
        }
    }
    &.open {
        ul {
            display:                    block;
        }
        .toggler::after {
            content:                    "\f077";
        }
    }
}
