// Our global page footer
$footer-namespace:              $namespace !default;
$footerFontColor:               $baseTextColor !default;
$footerBGColor:                 transparent !default;

#footer {
    padding:                $gridGutter $pagePaddingPx;
    @include getRem('padding-top', 20px);
    background-color:       $footerBGColor;
    text-align:             left;
    color:                  $footerFontColor;
    .footer_totop {
        display:            block;
        text-align:         right;
        margin-bottom:      1.5em;
		&:after {
			content: "\00f077"; // chrefron-up
			font: 1em FontAwesome;
			display: inline-block;
			padding-left: 1em;
		}
    }
    @media print {
    }
    @include media-query('palm') {
        &.hide {
            display:        none;
        }
    }
}
