// Our global page footer
$footer-namespace:              $namespace !default;
$footerFontColor:               #C9CDDE !default;
$footerBGColor:                 $blue !default;

#footer {
    padding:                $gridGutter $pagePaddingPx;
    @include getRem('padding-top', 20px);
    background-color:       $footerBGColor;
    text-align:             left;
    color:                  $footerFontColor;
    a {
        color:              $footerFontColor;
        margin:             0;
    }
    h3, h4 {
        color:              $footerFontColor;
        font-size:          $base-font-size;
        font-weight:        bold;
        margin:             0 0 0.9em 0;
        line-height:        1.2em;
        display:            block;
    }
    .logo {
        @include getRem('width', 135px);
        height:             auto;
        opacity:            0.7;
        margin-bottom:      1.2em;
    }
    .footer-search {
        margin-bottom:      1.8em;
    }
    .footer_newsletter {
         margin-bottom:     4.3em;
         .button--footer {
            margin-top: 1em;
        }
    }
    .footer_social {
        margin-bottom:      4.3em;
        .fa {
            padding:        10px;
            @include fontsize(24px);
        }
    }
    .footer_totop {
        display:            block;
        text-align:         right;
        margin-bottom:      1.5em;
		&:after {
			content: "\00f077"; // chrefron-up
			font: 1em FontAwesome;
			display: inline-block;
			padding-left: 1em;
		}
    }
    @media print {
        display:            none;
    }
    @include media-query('palm') {
        &.hide {
            display:    none;
        }
    }
}
