// Our global page footer
$footer-namespace:              $namespace !default;
$footerFontColor:               $baseTextColor !default;
$footerBGColor:                 $white !default;

#footer {
    padding:                $gridGutter $pagePaddingPx;
    @include getRem('padding-top', 20px);
    background-color:       $footerBGColor;
    text-align:             left;
    color:                  $footerFontColor;
    text-align:             center;
    margin-top:             40px;
    .logo {
        width:              70px;
    }
    .heading {
        font-size:          1.2em;
        font-weight:        700;
        display:            block;
        margin-top:         20px;
        margin-bottom:      0.4em;
    }
    .author {
        color:              $linkColor;
        display:            block;
        margin-bottom:      0.6em;
    }
    .copyright {
        color:              $greyAuthor;
        display:            block;
        margin-bottom:      0.6em;
    }
    @include media-query($breakpoint_phone) {
        &.hide {
            display:        none;
        }
    }
    ul.menu {
      text-align:             center;
      margin-left: 0;
      padding-inline-start: 0;
      padding-left: 0;
      li {
        list-style-type:    none;
        display: inline;
        a {
          padding: $smallGapPx / 2;
        }
      }
    }
}
