// Our global page header
$header-namespace:              $namespace !default;

#{$header-namespace}#header,
#header#{$header-namespace} {
    position:                   relative;
    background-color:           $white;
    @include media-query(palm) {
        &.fixed {
            position:           absolute;
            top:                0;
            left:               0;
            z-index:            1000;
            width:              100vw;
            height:             105vh;
            overflow-y:         scroll;
        }
    }
}
