// Our global page header
$header-namespace:              $namespace !default;
$headerTransitionTimespan:      0.4s;

#{$header-namespace}#header,
#header#{$header-namespace} {
    position:                   relative;
    background-color:           $white;
    z-index:                    1000;
    .logo {
        display:                flex;
        align-items:            center;
        .palm {
            width:              40px;
            height:             40px;
        }
        .claim {
            margin-left:        $pagePaddingPx/3;
            width:              120px;
            @include media-query('palm') {
                display:        none;
            }
        }
        .tongue {
            display:            none;
        }
    }
    .scroll-indicator {
        display:            none;
    }
    &.fixed {
        height:             60px;
        @include fontsize($base-font-size*0.8);
        line-height:        $base-line-height / $base-font-size * 0.8;
        transition:         height $headerTransitionTimespan ease-out;
        transition:         line-height 0$headerTransitionTimespan ease-out;
        transition:         font-size $headerTransitionTimespan ease-out;
        position:           fixed;
        z-index:            1000;
        width:              100%;
        max-width:          $pageWidthDesk;
        margin:             0 auto;
        .logo {
            .palm {
                transition: width $headerTransitionTimespan ease-out;
                display:    block;
                width:      30px;
                height:     30px;
            }
            .claim {
                width:      100px;
                transition: width $headerTransitionTimespan ease-out;
            }
            .tongue {
                height:     0;
                transition: visibility $headerTransitionTimespan ease-out;
            }
        }
        .scroll-indicator {
            display:        block;
            height:         2px;
            background-color: $red;
            position:       absolute;
            bottom:         0;
            left:           0;
            width:          1%;
        }
    }
}

.path-frontpage {
    #{$header-namespace}#header,
    #header#{$header-namespace} {
        .logo {
            @include media-query('lap-and-up') {
                .palm {
                    display:        none;
                }
                .claim {
                    display:        none;
                }
                .tongue {
                    display:        block;
                    position:       absolute;
                    top:            0;
                    height:         180px;
                    max-height:     180px;
                    z-index:        1001;
                }
            }
        }
        &.fixed {
            .logo {
                .palm {
                    display:    block;
                }
                .claim {
                    display:    block;
                    width:      100px;
                    transition: width $headerTransitionTimespan ease-out;
                }
                .tongue {
                    top:     -400px;
                    transition: top $headerTransitionTimespan*2 linear;
                }
            }
        }
    }
}