// Our global page header
$portal-head-namespace:              $namespace !default;

#{$portal-head-namespace}.portal-head {
    @include clearfix();
    @include getRem('padding-top', 10px);
    @include getRem('padding-bottom', 10px);
    @include getRem('padding-left', 20px); 
    @include getRem('padding-right', 20px);
    display:                    flex;
    align-items:                center;
    justify-content:            space-between;
    position:                   relative;
    margin:                     0;
    background-color:           transparent;
    .portal-logo {
        flex-grow:              1;
        .logo {
        }
    }
    .meta {
        flex-grow:              0;
        display:                inline-block;
        position:               relative;
        display:            flex;
        align-items:        center;
        float:              right;
        .fa {
            color:          $baseTextColor;
            font-size:      1.3em;
            &.fa-shopping-cart {
                font-size:  1.8em;
            }
        }
        > * {
            padding:        0.5em;
            margin-left:    1.3em;
        }
    }
}

.portal-head__cart {
    position:           relative;
    .counter {
        position:       absolute;
        background:     $red;
        color:          $white;
        top:            0;
        right:          0;
        border-radius:  50%;
        min-width:      1.3em;
        min-height:     1.3em;
        text-align:     center;
        vertical-align: middle;
        font-size:      0.7em;
    }
}
.portal-head__search {
   
}
.portal-head__hamburger {
   
}


@include media-query(palm) {
    #{$portal-head-namespace}.portal-head {
        @include getRem('padding', 12px);
        @include getRem('padding-bottom', 12px/2);
        /*
        .aside {
            // right section: search, meta, languageselect,...
            float:              none;
            text-align:         left;
            > * {
                display:        none;
            }
            .portal-search {
                display:        block;
                margin-left:    0;
                margin-right:   0;
                @include getRem('margin-bottom', 5px);
                @include getRem('margin-top', 5px);
            }
        }
        */
        .portal-logo {
            @include getRem('width', 123px);
        }
        .portal-claim {
            display:        none;
        }
        .portal-meta {
            display:        none;
        }
    }
}
