// Our global page header
$portal-head-namespace:              $namespace !default;

#{$portal-head-namespace}.portal-head {
    @include clearfix();
    @include getRem('padding-top', 10px);
    @include getRem('padding-bottom', 10px);
    @include getRem('padding-left', $pagePaddingPx);
    @include getRem('padding-right', $pagePaddingPx);
    display:                    flex;
    align-items:                center;
    justify-content:            space-between;
    position:                   relative;
    margin:                     0;
    background-color:           $white;
    @include media-query($breakpoint_phone) {
        @include getRem('padding', 12px);
        @include getRem('padding-bottom', 12px/2);
        @include getRem('padding-left', $pagePaddingPalmPx);
        @include getRem('padding-right', $pagePaddingPalmPx);
        .portal-logo {
            @include getRem('width', 123px);
        }
        .portal-claim {
            display:        none;
        }
        .portal-meta {
            display:        none;
        }
    }
    .portal-logo {
        flex-grow:              1;
    }
    .meta {
        flex-grow:              0;
        display:                inline-block;
        position:               relative;
        display:                flex;
        align-items:            center;
        float:                  right;
        .fa {
            color:          $baseTextColor;
            font-size:      1.3em;
        }
        > * {
            padding:        0.5em;
            margin-left:    15px;
        }
    }
}

.portal-head__cart {
    position:           relative;
    .counter {
        position:       absolute;
        background:     $red;
        color:          $white;
        top:            -2px;
        right:          -10px;
        border-radius:  50%;
        min-width:      1.8em;
        min-height:     1.8em;
        text-align:     center;
        vertical-align: middle;
        font-size:      0.7em;
        padding:        1px 2px;
    }
}

.fixed {
  .portal-head__cart {
    .counter {
      padding: 2px;
    }
  }
}

.portal-head__user {
    position:           relative;
    .login-state {
      position:       absolute;
      background:     $red;
      color:          $white;
      top:            -2px;
      right:          -10px;
      border-radius:  50%;
      min-width:      1.8em;
      min-height:     1.8em;
      text-align:     center;
      vertical-align: middle;
      font-size:      0.7em;
      padding:        1px 2px;
    }
}

.fixed {
  .portal-head__user {
    .login-state {
      padding: 2px;
    }
  }
}

.portal-head__hamburger {
    min-width:              2.2em;
    text-align:             center;
    &:hover,
    &:focus {
        color:              $blue;
        background-color:   transparent;
        text-decoration:    none;
    }
    &.opened {
        .hamburger__icon::before {
            content:            "\f00d"; // fa-close
        }
    }
    text-decoration:        none;
    &:hover {
        text-decoration:    none;
    }
}


