{% extends "main-styleguide.twig" %}

{% block content %}
 

    <h2>Icons</h2>
    
    <p>
        Alle Icons im Bereich der Seiten sind dem freien Iconfont Fontawsome zu entnehmen: <a href="http://fontawesome.io" target="_blank" title="Link zu: FontAwesome Homepage">http://fontawesome.io</a>.
    </p>
    <p>
        Häufig eingesetzte Icons im Contentbereich:
    </p>
        
    <p>
        <span class="fa fa-chevron-right" aria-hidden="true"></span>
        Pfeil rechts
    </p>
    <pre><code><span class="fa fa-chevron-right" aria-hidden="true"></span></code></pre>
    
    <p>
        <span class="fa fa-chevron-left" aria-hidden="true"></span>
        Pfeil links
    </p>
    <pre><code><span class="fa fa-chevron-left" aria-hidden="true"></span></code></pre>
        
    <p>
        <span class="fa fa-search" aria-hidden="true"></span>
        Lupe
    </p>
    <pre><code><span class="fa fa-search" aria-hidden="true"></span></code></pre>
    
    <p>
        <span class="fa fa-bars" aria-hidden="true"></span>
        Menü öffnen
    </p>
    <pre><code><span class="fa fa-bars" aria-hidden="true"></span></code></pre>
    
    <p>
        <span class="fa fa-close" aria-hidden="true"></span>
        Menü schließen
    </p>
    <pre><code><span class="fa fa-close" aria-hidden="true"></span></code></pre>
    
    <p>
        <span class="fa fa-map-marker" aria-hidden="true"></span>
        Kartenmarkierung
    </p>
    <pre><code><span class="fa fa-map-marker" aria-hidden="true"></span></code></pre>
    
    <p>
        <span class="fa fa-home" aria-hidden="true"></span>
        Startseite
    </p>
    <pre><code><span class="fa fa-home" aria-hidden="true"></span></code></pre>
    
    
{% endblock %}
