{% extends "main-styleguide.twig" %}

{% block content %}
 

    <h2>Layout</h2>
    
    <p>
        Die untenstehenden Modelle zeigen den grundsätzlichen Aufbau der unterschiedlichen existierenden Seitentypen. 
    </p>


<h3>Grundlayout</h3>
<pre><code class="sg-code-inline">
<div class="page-wrapper">
  <header id="header">
    <div class="page-wrapper__inner">   
        <div class="portal-head" role="banner">
         <!-- HEADER CONTENT HERE -->
        </div>
    </div>
  </header>
  
  <div class="page-wrapper__inner" id="main">
    <!-- PAGETYP MARKUP (siehe unten) -->
  </div>

</div>
</code></pre>



<h3>Typ Startseite</h3>
<pre><code class="sg-code-inline">

  <!-- HERO CONTENT HERE -->
  <main class="content-wrapper">
    <!-- MAIN CONTENT HERE -->
  </main>

  <footer class="page-wrapper__inner" id="footer">
    <!-- FOOTER CONTENT HERE -->
  </footer>

</code></pre>


<h3>Typ Artikelseite / Dossier</h3>
<pre><code class="sg-code-inline">

<div class="grid content-wrapper-article">
  <div class="grid__item eight-tenths content-left">
    <!-- DOSSIER HEADING: --><div class="heading--dossiercat"><span class="text--red">Dossier</span> Category</div>
    <main class="content-left__inner">
      <!-- MAIN CONTENT HERE -->
    </main>
    <footer class="page-wrapper__inner" id="footer">
      <!-- FOOTER CONTENT HERE -->
    </footer>
  </div><!-- /grid__item -->
  <div class="grid__item two-tenths content-spacer">
    <!-- NO CONTENT HERE --> 
  </div><!-- /grid__item -->
  <aside class="marginal grid__item two-tenths content-right">
    <!-- MARGINAL CONTENT HERE -->
  </aside><!-- /grid__item -->
</div>
</code></pre>

<h3>Typ Bestellprozess (Warenkorb,...)</h3>
<pre><code class="sg-code-inline">

<div class="grid content-wrapper-bestellprozess">
  <div class="grid__item">
    <main class="content">
      <h1 class="heading--bestellprozess">Titel</h1>
      <div class="content__inner">
        <!-- MAIN CONTENT HERE -->
      </div>
    </main>
  </div><!-- /grid__item -->
</div><!-- /grid -->
</code></pre>


{% endblock %}
