{% extends "main-styleguide.twig" %}

{% block content %}
 

    <h2>Layout</h2>
    
    <p>
        Die untenstehenden Modelle zeigen den grundsätzlichen Aufbau der unterschiedlichen existierenden Seitentypen. 
    </p>


<h3>Grundlayout</h3>
<pre><code class="sg-code-inline">
<div class="page-wrapper">     

  <header id="header">
    <div class="portal-head" role="banner">
      <!-- HEADER CONTENT HERE -->
    </div>
    <nav id="navigation-primary">
      <!-- NAVIGATION HERE -->
    </nav>
  </header>  
  
  <!-- PAGETYP MARKUP HERE (siehe unten) -->

  <footer id="footer">
      <!-- FOOTER CONTENT HERE -->
  </footer>

</div>
</code></pre>



<h3>Typ: Startseite</h3>
<pre><code class="sg-code-inline">

<main class="content-wrapper-homepage">
  <h1 class="aural">Pagetitle</h1>
  <div class="hero">
    <!-- HERO CONTENT HERE -->
  </div>
  <div class="grid">
    <div class="grid__item one-sixth">
    </div>
    <div class="grid__item four-sixths">
      <!-- HOMEPAGE CONTENT HERE -->
    </div>
    <div class="grid__item one-sixth">
    </div>
  </div>
</main>
</code></pre>


<h3>Typ: Three Columns</h3>
<pre><code class="sg-code-inline">

<div class="content-wrapper-three-columns">
  <div class="heading--pagecategory">
      <!-- (OPTIONALE SEITENÜBERSCHRIFT/KATEGORIE) -->
  </div>
  <div class="grid">
    <div class="grid__item two-tenths">
    </div>
    <main class="grid__item six-tenths">
      <h1 class="heading--article">Pagetitle</h1>
      <!-- PAGE CONTENT HERE -->
    </main>
    <div class="grid__item two-tenths">
    </div>
  </div>
</div>
</code></pre>

<h3>Typ: Full Width</h3>
<pre><code class="sg-code-inline">

<main class="content-wrapper-full-width">
  <h1 class="heading--pagecategory">Seitentitel</h1>
  <!-- PAGE CONTENT HERE -->
</main>
</code></pre>


{% endblock %}
