{% extends "main-styleguide.twig" %}

{% block content %}
 

    <h2>Teaser</h2>
       
    
    {% include "organisms-teasergrid" with {data: {
                "gridItenClass": "one-third",
                "gridClass": "grid--stretch",
                "content": [
                    {
                        "pattername": "molecules-teaser",
                        "class": "teaser--base",
                        "title": "Basisteaser",
                    }
                ]
    }} %}   
    <pre class="js-collapse-me sg-collapse" data-closetext="Markup ausblenden" data-opentext="Markup anzeigen"><code>{% include "molecules-teaser" with {data: {
        "class": "teaser--base"
    }} %}</code></pre>


     
    {% include "organisms-teasergrid" with {data: {
                "gridItenClass": "one-third",
                "gridClass": "grid--stretch",
                "content": [
                    {
                        "pattername": "molecules-teaser",
                        "class": "teaser--poster",
                        "title": "Posterteaser",
                        "text": "false",
                        "imageurl": "https://picsum.photos/300/400/?random",
                        "source": "unsplash.com"
                    }
                ]
    }} %}   
    <pre class="js-collapse-me sg-collapse" data-closetext="Markup ausblenden" data-opentext="Markup anzeigen"><code>{% include "molecules-teaser" with {data: {
        "class": "teaser--poster",
        "text": "false",
        "imageurl": "https://picsum.photos/300/400/?random",
        "source": "unsplash.com"
    }} %}</code></pre>
    
    
    
    {% include "organisms-teasergrid" with {data: {
                "gridItenClass": "one-third",
                "gridClass": "grid--stretch",
                "content": [
                    {
                        "pattername": "molecules-teaser",
                        "hideTeaserImage": true,
                        "title": "Textteaser",
                        "class": "teaser--text",
                        "text": "false"
                    }
                ]
    }} %}   
    <pre class="js-collapse-me sg-collapse" data-closetext="Markup ausblenden" data-opentext="Markup anzeigen"><code>{% include "molecules-teaser" with {data: {
        "hideTeaserImage": true,
        "class": "teaser--text",
        "text": "false"
    }} %}</code></pre>

    {% include "organisms-teasergrid" with {data: {
                "gridItenClass": "one-third",
                "gridClass": "grid--stretch",
                "content": [
                    {
                        "pattername": "molecules-teaser",
                        "hideTeaserImage": true,
                        "class": "teaser--text",
                        "title": "Textteaser",
                        "hideAuthor": "true"
                    }
                ]
    }} %} 
    <pre class="js-collapse-me sg-collapse" data-closetext="Markup ausblenden" data-opentext="Markup anzeigen"><code>{% include "molecules-teaser" with {data: {
        "hideTeaserImage": true,
        "class": "teaser--text",
        "hideAuthor": "true"
    }} %}</code></pre>
    


    <div class="marginal">
    {% include "organisms-teasergrid" with {data: {
                "gridItenClass": "one-half",
                "gridClass": "grid--stretch",
                "content": [
                    {
                        "pattername": "molecules-teaser",
                        "class": "teaser--marginal",
                        "title": "Marginalteaser",
                        "imageurl": "https://picsum.photos/250/250/?random",
                        "text": "false"
                    }
                ]
    }} %}   
    </div>
    <pre class="js-collapse-me sg-collapse" data-closetext="Markup ausblenden" data-opentext="Markup anzeigen"><code>{% include "molecules-teaser" with {data: {
        "class": "teaser--marginal",
        "imageurl": "https://picsum.photos/250/250/?random",
        "text": "false"
    }} %}</code></pre>

{% endblock %}



