<div class="grid grid--stretch">
    <div class="grid__item one-third">
        <article data-history-node-id="28694" role="article" about="/ausgabe/2018/dezember" class="block teaser teaser--archive">
            <div class="image">
                
                    <div class="field field--name-field-primary-picture field--type-image field--label-hidden field__item">      <a href="#"><img src="../../images/sample/archiv1.jpg" alt="" typeof="foaf:Image">
        </a>
        </div>
            
            </div>
            <div class="inner">
                <h3 class="heading">
                    <a href="#" rel="bookmark"><span class="field field--name-title field--type-string field--label-hidden">Dezember 2018</span>
        </a>
                </h3>
                                                    </div>
        </article>
        </div>
                <div class="grid__item one-third"><article data-history-node-id="28633" role="article" about="/ausgabe/2018/november" class="block teaser teaser--archive">
            <div class="image">
                
                    <div class="field field--name-field-primary-picture field--type-image field--label-hidden field__item">      <a href="#"><img src="../../images/sample/archiv1.jpg" alt="" typeof="foaf:Image">
        </a>
        </div>
            
            </div>
            <div class="inner">
                <h3 class="heading">
                    <a href="#" rel="bookmark"><span class="field field--name-title field--type-string field--label-hidden">November 2018</span>
        </a>
                </h3>
                                                    </div>
        </article>
        </div>
                <div class="grid__item one-third"><article data-history-node-id="28582" role="article" about="/ausgabe/2018/oktober" class="block teaser teaser--archive">
            <div class="image">
                
                    <div class="field field--name-field-primary-picture field--type-image field--label-hidden field__item">      <a href="#"><img src="../../images/sample/archiv1.jpg" alt="" typeof="foaf:Image">
        </a>
        </div>
            
            </div>
            <div class="inner">
                <h3 class="heading">
                    <a href="#" rel="bookmark"><span class="field field--name-title field--type-string field--label-hidden">Oktober 2018</span>
        </a>
                </h3>
                                                    </div>
        </article>
        </div>
                <div class="grid__item one-third"><article data-history-node-id="28536" role="article" about="/ausgabe/2018/september" class="block teaser teaser--archive">
            <div class="image">
                
                    <div class="field field--name-field-primary-picture field--type-image field--label-hidden field__item">      <a href="#"><img src="../../images/sample/archiv1.jpg" alt="" typeof="foaf:Image">
        </a>
        </div>
            
            </div>
            <div class="inner">
                <h3 class="heading">
                    <a href="#" rel="bookmark"><span class="field field--name-title field--type-string field--label-hidden">September 2018</span>
        </a>
                </h3>
                                                    </div>
        </article>
        </div>
                <div class="grid__item one-third"><article data-history-node-id="28486" role="article" about="/ausgabe/2018/august" class="block teaser teaser--archive">
            <div class="image">
                
                    <div class="field field--name-field-primary-picture field--type-image field--label-hidden field__item">      <a href="/ausgabe/2018/august"><img src="../../images/sample/archiv1.jpg" alt="" typeof="foaf:Image">
        </a>
        </div>
            
            </div>
            <div class="inner">
                <h3 class="heading">
                    <a href="#" rel="bookmark"><span class="field field--name-title field--type-string field--label-hidden">August 2018</span>
        </a>
                </h3>
                                                    </div>
        </article>
        </div>
                <div class="grid__item one-third"><article data-history-node-id="28445" role="article" about="/ausgabe/2018/juli" class="block teaser teaser--archive">
            <div class="image">
                
                    <div class="field field--name-field-primary-picture field--type-image field--label-hidden field__item">      <a href="#"><img src="../../images/sample/archiv1.jpg" alt="" typeof="foaf:Image">
        </a>
        </div>
            
            </div>
            <div class="inner">
                <h3 class="heading">
                    <a href="#" rel="bookmark"><span class="field field--name-title field--type-string field--label-hidden">Juli 2018</span>
        </a>
                </h3>
                                                    </div>
        </article>
        </div>
                    <div class="grid__item one-third"><article data-history-node-id="28388" role="article" about="/ausgabe/2018/juni" class="block teaser teaser--archive">
            <div class="image">
                
                    <div class="field field--name-field-primary-picture field--type-image field--label-hidden field__item">      <a href="#"><img src="../../images/sample/archiv1.jpg" alt="" typeof="foaf:Image">
        </a>
        </div>
            
            </div>
            <div class="inner">
                <h3 class="heading">
                    <a href="#" rel="bookmark"><span class="field field--name-title field--type-string field--label-hidden">Juni 2018</span>
        </a>
                </h3>
                                                    </div>
        </article>
        </div>
                <div class="grid__item one-third"><article data-history-node-id="28325" role="article" about="/ausgabe/2018/mai" class="block teaser teaser--archive">
            <div class="image">
                
                    <div class="field field--name-field-primary-picture field--type-image field--label-hidden field__item">      <a href="/ausgabe/2018/mai"><img src="../../images/sample/archiv1.jpg" alt="" typeof="foaf:Image">
        </a>
        </div>
            
            </div>
            <div class="inner">
                <h3 class="heading">
                    <a href="#" rel="bookmark"><span class="field field--name-title field--type-string field--label-hidden">Mai 2018</span>
        </a>
                </h3>
                                                    </div>
        </article>
        </div>
                <div class="grid__item one-third"><article data-history-node-id="28275" role="article" about="/ausgabe/2018/april" class="block teaser teaser--archive">
            <div class="image">
                
                    <div class="field field--name-field-primary-picture field--type-image field--label-hidden field__item">      <a href="#"><img src="../../images/sample/archiv1.jpg" alt="" typeof="foaf:Image">
        </a>
        </div>
            
            </div>
            <div class="inner">
                <h3 class="heading">
                    <a href="#" rel="bookmark"><span class="field field--name-title field--type-string field--label-hidden">April 2018</span>
        </a>
                </h3>
                                                    </div>
        </article>
        </div>
                <div class="grid__item one-third"><article data-history-node-id="28228" role="article" about="/ausgabe/2018/maerz" class="block teaser teaser--archive">
            <div class="image">
                
                    <div class="field field--name-field-primary-picture field--type-image field--label-hidden field__item">      <a href="#"><img src="../../images/sample/archiv1.jpg" alt="" typeof="foaf:Image">
        </a>
        </div>
            
            </div>
            <div class="inner">
                <h3 class="heading">
                    <a href="#" rel="bookmark"><span class="field field--name-title field--type-string field--label-hidden">März 2018</span>
        </a>
                </h3>
                                                    </div>
        </article>
        </div>
                <div class="grid__item one-third"><article data-history-node-id="28185" role="article" about="/ausgabe/2018/februar" class="block teaser teaser--archive">
            <div class="image">
                
                    <div class="field field--name-field-primary-picture field--type-image field--label-hidden field__item">      <a href="/ausgabe/2018/februar"><img src="../../images/sample/archiv1.jpg" alt="" typeof="foaf:Image">
        </a>
        </div>
            
            </div>
            <div class="inner">
                <h3 class="heading">
                    <a href="#" rel="bookmark"><span class="field field--name-title field--type-string field--label-hidden">Februar 2018</span>
        </a>
                </h3>
                                                    </div>
        </article>
        </div>
                <div class="grid__item one-third"><article data-history-node-id="28137" role="article" about="/ausgabe/2018/januar" class="block teaser teaser--archive">
            <div class="image">
                
                    <div class="field field--name-field-primary-picture field--type-image field--label-hidden field__item">      <a href="#"><img src="../../images/sample/archiv1.jpg" alt="" typeof="foaf:Image">
        </a>
        </div>
            
            </div>
            <div class="inner">
                <h3 class="heading">
                    <a href="#" rel="bookmark"><span class="field field--name-title field--type-string field--label-hidden">Januar 2018</span>
        </a>
                </h3>
                                                    </div>
        </article>

    </div>
</div>