   

        <img class="logo" src="../../images/logo.svg" />
        <p>
                <span class="heading">
                        »Eine Insel der Vernuft <br/>
                        in einem Meer von Unsinn«
                </span>
                <span class="author">
                        Karl Barth
                </span>
                <span class="copyright">
                        © Blätter Gesellschaft mbH, 2018
                </span>
        </p>


        
    
   


