    <div class="portal-head" role="banner">
        <div class="portal-logo">
            <a class="logo" title="Zur Startseite" href="#">
                <img  src="../../images/logo-blaetter.png" />
            </a>
        </div>
        <div class="meta">
            <a href="#" class="portal-head__cart">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                <span class="counter">3</span>
            </a>
            <a href="#" class="portal-head__search">
                <i class="fa fa-search" aria-hidden="true"></i>
            </a>
            <a href="#" class="portal-head__hamburger">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </a>
        </div>
    </div>
