    {# {% include "molecules-header-message" %} #}
    <div class="portal-head" role="banner">
        <div class="portal-logo">
            <a class="logo" title="Zur Startseite" href="#">
                <img src="../../images/logo_palm.svg" class="palm" />
                <img src="../../images/logo_blaetter_claim.svg" class="claim" />
                <img src="../../images/logo_tongue.svg" class="tongue" />
            </a>
        </div>
        <div class="meta">
            <a href="#" class="button--promo" title="Ab bestellen">
                <i class="fa fa-book" aria-hidden="true"></i> Abo
            </a>
            <a href="#" class="portal-head__user" title="Anmelden">
                <i class="fa fa-user" aria-hidden="true"></i>
            </a>
            <a href="#" class="portal-head__cart" title="Warenkorb">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                <span class="counter">3</span>
            </a>
            <a href="#" class="portal-head__search js-search" title="Suche">
                <i class="fa fa-search" aria-hidden="true"></i>
            </a>
            <a href="#" class="portal-head__hamburger js-hamburger" title="Navigation öffnen">
                <i class="fa fa-bars hamburger__icon" aria-hidden="true"></i>
            </a>
        </div>
        <div id="scrollbar"></div>
    </div>
