$swiper-galleryselect-namespace:       $namespace !default;

#{$swiper-galleryselect-namespace}.swiper-galleryselect {
    @include block--base();
    @include swiperButtonsTopRight();
    position:                   relative;
    overflow:                   hidden;
    padding-top:                0.5em; // add some space for the navigation buttons
    .swiper-container {
        //padding-bottom:         1.5em; // add some extra space for navigation circles
        overflow:               visible;
    }
    // fix for classless headings
    > h2, > h3 {
        @include heading--addbottomborder();
    }
    > h2 {
        margin-bottom:          0.5rem;
        padding-bottom:         0.4rem;
    }
    .image {
        //@include block--base-image(); // moved to block
    }
    ul.swiper-wrapper>li {
        // we want the gap to be a padding instead of margin because of the swiper attribute "touchEventsTarget: 'wrapper'"
        padding-right:  $largeGapPx;
        margin-right:   0 !important;  
    }

}



