$swiper-articleimage-namespace:       $namespace !default;

$swiper-articleimage--minHeight-mobileVw:     93vw * 3 / 4; // image ratio!
$swiper-articleimage--minHeight-desktopPx:    624px * 3 / 4;
$swiper-articleimage--minHeight-mobileVw-16x9:     93vw * 9 / 16; // image ratio!
$swiper-articleimage--minHeight-desktopPx-16x9:    624px * 9 / 16;
$swiper-articleimage--minHeight-mobileVw-2x1-fullwidth:     93vw * 1 / 2; // image ratio!
$swiper-articleimage--minHeight-desktopPx-2x1-fullwidth:    948px * 1 / 2;

// RATIO 4x3 default
#{$swiper-articleimage-namespace}.swiper-articleimage {
    //@include getRem('max-width', 728px);
    @include getRem('margin-bottom', 12px);
    @include block-source--overlay();
    position:                       relative;
    overflow:                       hidden;
    > h2, > h3 {
        margin-top:                 0;
    }
    p {
        text-align:                 left;
    }

    // Add some extra space for image counter:
    .swiper-container {
        margin-top:                 1.5em;
        overflow:                   visible;
         .swiper-pagination {
            top:                    -1.5em;
            bottom:                 auto;
            font-weight:            bold;
        }
    }

    // Move Buttons to the vertical middle of the image (important for slides with differnt text heights)
    .swiper-button-next,
    .swiper-button-prev {
        @include media-query($breakpoint_medium) {
            @include getRem('top', $swiper-articleimage--minHeight-desktopPx/2 );
        }
        @include media-query($breakpoint_phone) {
            top:                    $swiper-articleimage--minHeight-mobileVw/2;
        }
    }

    // Align image and set container dimensions:
    .image {
        margin-bottom:              0.3em;
        // Horizontal align image:
        img {
            display:                block;
            margin:                 0 auto;
            width: auto;
            @include media-query($breakpoint_medium) {
                @include getRem('max-height', $swiper-articleimage--minHeight-desktopPx);
            }
        }
        // Vertical align image:
        .swiper-zoom-container {
            align-items:                center;
            display:                    flex;
        }
        // Set container dimensions
        .swiper-zoom-container {
            @include media-query($breakpoint_phone) {
                height:                 $swiper-articleimage--minHeight-mobileVw;
            }
            @include media-query($breakpoint_medium) {
                @include getRem('height', $swiper-articleimage--minHeight-desktopPx);
            }
        }
    }

    .swiper-lazy-preloader {
        @include media-query($breakpoint_medium) {
            @include getRem('top', $swiper-articleimage--minHeight-desktopPx/2 );
        }
        @include media-query($breakpoint_phone) {
            top:                 $swiper-articleimage--minHeight-mobileVw/2;
        }
   }
}

// RATIO 16x9
/*
#{$swiper-articleimage-namespace}.swiper-articleimage.swiper-articleimage--16x9 {
    .swiper-button-next,
    .swiper-button-prev {
        @include media-query($breakpoint_medium) {
            //@include getRem('top', $swiper-articleimage--minHeight-desktopPx-16x9/2 );
        }
        @include media-query($breakpoint_phone) {
            //top:                    $swiper-articleimage--minHeight-mobileVw-16x9/2;
        }
    }
    .image {
        img {
            @include media-query($breakpoint_medium) {
               //@include getRem('max-height', $swiper-articleimage--minHeight-desktopPx-16x9);
            }
        }
        .swiper-zoom-container {
            @include media-query($breakpoint_phone) {
                height:                 $swiper-articleimage--minHeight-mobileVw-16x9;
            }
            @include media-query($breakpoint_medium) {
                @include getRem('height', $swiper-articleimage--minHeight-desktopPx-16x9);
            }
        }
    }
    .swiper-button-next,
    .swiper-button-prev {
        @include media-query($breakpoint_medium) {
            //@include getRem('top', $swiper-articleimage--minHeight-desktopPx-16x9/2 );
        }
        @include media-query($breakpoint_phone) {
            //top:                    $swiper-articleimage--minHeight-mobileVw-16x9/2;
        }
    }
    .swiper-lazy-preloader {
        @include media-query($breakpoint_medium) {
            @include getRem('top', $swiper-articleimage--minHeight-desktopPx-16x9/2 );
        }
        @include media-query($breakpoint_phone) {
            top:                 $swiper-articleimage--minHeight-mobileVw-16x9/2;
        }
    }
}
*/

// RATIO 2x1 full width (Tourdetails)
#{$swiper-articleimage-namespace}.swiper-articleimage.swiper-articleimage--2x1-fullwidth {
    .image {
        img {
            @include media-query($breakpoint_medium) {
               @include getRem('max-height', $swiper-articleimage--minHeight-desktopPx-2x1-fullwidth);
            }
        }
        .swiper-zoom-container {
            @include media-query($breakpoint_phone) {
                height:                 $swiper-articleimage--minHeight-mobileVw-2x1-fullwidth;
            }
            @include media-query($breakpoint_medium) {
                @include getRem('height', $swiper-articleimage--minHeight-desktopPx-2x1-fullwidth);
            }
        }
    }.swiper-lazy-preloader {
        @include media-query($breakpoint_medium) {
            @include getRem('top', $swiper-articleimage--minHeight-desktopPx-2x1-fullwidth/2 );
        }
        @include media-query($breakpoint_phone) {
            top:                 $swiper-articleimage--minHeight-mobileVw-2x1-fullwidth/2;
        }
    }
}

