<section class="swiper-hero {{ blockClass }}">
    <h2 class="swiper-headline">
        {{ data.title|default('Heroswiper Title') }}
    </h2>
    <div id="{{ data.swiperId|default('swiper-hero-swiper') }}" class="swiper-container js-swiper-hero swiper" >
        <span class="swiper-buttons">
            <button class="swiper-button-prev" aria-label="Rückwärts swipen"><i class="fa fa-chevron-left" aria-hidden="true"></i></button>
            <button class="swiper-button-next" aria-label="Vorwärts swipen"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
        </span>
        <ul class="swiper-wrapper">
{% for swiperitem in data.content %}
            <li class="swiper-slide">
                {% include swiperitem.patternname with { 'data': swiperitem } %}
                
            </li>
{% endfor %}
        </ul>
    </div>                
</section>


